﻿@font-face {
    font-family: 'KelloggsSans';
    src:
        url('../fonts/KelloggsSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KelloggsSans.otf') format('opentype'),
        url('../fonts/KelloggsSans.woff') format('woff'),
        url('../fonts/KelloggsSans.ttf') format('truetype'),
        url('../fonts/KelloggsSans.svg#KelloggsSans') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KelloggsSans';
    src: 
        url('../fonts/KelloggsSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KelloggsSans-Bold.woff') format('woff'),
        url('../fonts/KelloggsSans-Bold.ttf') format('truetype'),
        url('../fonts/KelloggsSans-Bold.svg#KelloggsSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Cafeteria';
    src:
        url('../fonts/Cafeteria-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Cafeteria-Regular.woff') format('woff'),
        url('../fonts/Cafeteria-Regular.ttf') format('truetype'),
        url('../fonts/Cafeteria-Regular.svg#Cafeteria-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
    position: relative;
    font-family: KelloggsSans, "KelloggsSans", sans-serif;
    font-size: 14px;
    padding-top: 0px;
    /* Margin bottom by footer height
    margin-bottom: 60px; */
    padding-bottom: 60px;
    overflow-x: hidden;
}
@media(min-width:1200px) {
    body { font-size:16px;  }
}
/* =========== HEADER */
.navbar { height:80px; }
.navbar img{ max-height: 80px; }
/* HEADER =========== */

/* CENTRADO EN PANTALLA ====== */
.content { position: relative; }
.content__section {
    position: relative;
    text-align: center;
    padding: 0;
    color: white;
    min-height: calc(100vh - 60px);
    padding-top: 70px;
}
.content__section.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*@media screen and (min-width:0\0) {
    .content__section.aligner {
        display:table;
        vertical-align:middle;
        width:100%; height:100%;
    }
    .content__section.aligner > * {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        height: 100%;
    }
}*/
.bgimg {
    background-image: url(../img/bg.jpg);
    background-position: top center;
    position: relative;
    background-size: auto 100%;
    background-repeat: repeat-x;
}
@media(min-width: 321px) {
    .content__section { padding-top: 70px; }
}
@media(min-width: 400px) {
    .content__section { padding-top: 80px; }
}
@media(min-width: 480px) {
    .content__section { padding-top: 100px; }
}
@media(min-width: 768px) {
    .content__section { padding-top: 0em; }
}
@media( min-width: 1200px ) {
    .bgimg { background-size: cover; }
}
/* ====== CENTRADO EN PANTALLA */


/* TEXT STYLES ========= */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

strong, .bold { font-weight:bold; }
i, em { font-style: italic; }
a { cursor: pointer; }
.uppercase{ text-transform: uppercase; }
.content__section ul, .content__section ol {
    list-style-position: inside;
    padding-left: 0;
}
.blanco { color: white; }
.amarillo { color: #f8e71c; }
.white_on_white {
    color: white;
    /*text-shadow: 0 0 2px rgb(41, 49, 101), 0 0 5px rgba(41, 49, 101, 0.4);*/
    text-shadow: 1px 1px 1px rgb(41, 49, 101), 0 0 2px rgb(41, 49, 101), 0 0 5px rgba(41, 49, 101, 0.6);
}

.fs-1_5   { font-size: 1.5em; }
.fs-2     { font-size: 2em; }
.mt-1     { margin-top: 1em !important; }
.mt-2     { margin-top: 2em !important; }
.mt-1-neg { margin-top: -1em !important; }
.mt-2-neg { margin-top: -2em !important; }
.mb-0     { margin-bottom: 0em !important; }
.mb-1     { margin-bottom: 1em !important; }
.mb-2     { margin-bottom: 2em !important; }
/* ========= TEXT STYLES */

/* TABLES ============== */
.table_w {
    border: 2px solid #0094D3;
    width: 100%;
}
.table_w thead {
    background-color: #0094D3;
    text-transform: uppercase;
}
.table_w tbody {
    background-color: rgba(74, 144, 226, 0.2);
    font-weight:bold;
}
.table_w td { padding: 0.3em 0.5em; }
.table_w tbody tr td:nth-child(2) { text-align: left; }
/* ============== TABLES */


/* BUTTONS ============= */
button {
    border: 0; outline: 0;
    background-color: transparent;
}
button.snowless {
    position: relative;
    font-family: Cafeteria, "Cafeteria", sans-serif;
    font-size: 1.4em;
    text-transform: uppercase;
    text-shadow: -1px 2px 0 #333;
    background-image: url(../img/btn_mid.png);
    background-position: center center;
    background-size: 100% 100%;
    padding:0.3em 0.6em 0.2em 0.5em;
    margin: 20px 0 25px !important;
    min-width: 7em;
    cursor: pointer;
    transition: margin 0.2s;
}
button.con_chevron {
    display: block;
    color: #D0021B;
    font-weight: bold;
    font-size: 1.3em;
    text-transform: uppercase;
}
button.con_chevron span {
    font-size: 1em;
    width: 3em;
    border-bottom: 2px solid #D0021B;
}
button.snowless:hover { margin: 15px 0 30px !important; }
button.snowless.hover2 { top: 0; transition: top 0.2s; }
button.snowless.hover2:hover { 
    top: -10px;
    margin: 20px 0 25px !important;
}

@media( min-width: 768px ) {
    button.snowless { padding: 0.3em 1.3em 0.2em 1em; }
}

button.snowless::before {
    position: absolute;
    content: "";
    width: 100%;  height: 11px;
    top: -10px;    left: 0;
    background-image: url(../img/btn_top.png);
    background-position: center center;
    background-size: 100% 100%;
}
button.snowless::after {
    position: absolute;
    content: "";
    width: 100%;  height: 15px;
    bottom: -14px; left: 0;
    background-image: url(../img/btn_btm.png);
    background-position: center center;
    background-size: 100% 100%;
}
.img_btn {
    background-color: transparent;
    padding: 0; outline: 0;
    max-width: 120px;
    margin: 0;
    transition: margin 0.2s;
}
.img_btn:hover{ margin: -5px 0 5px; }
.img_btn > img { max-width: 100%;  height: auto; }
a.redlink {
    font-weight: bold;
    color: #D0021B;
}
a.yellowlink {
    display: inline-block;
    font-family: Cafeteria, Cafeteria, sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
    color: #f8e71c;
    margin: 1em 1em 0;
}
/* ============= BUTTONS */
/* SIDEBAR MENU ======== */
#sidebar {
    position: fixed;
    background-color: #D0021B;
    width: 300px; height: 100vh;
    top: 0;  right: -300px;  bottom: 0;
    z-index: 1050;
    transition: right 0.3s;
}
#sidebar.active{ right: 0; }
#sidebar_close {
    position: absolute;
    width: 50px; height: auto;
    top: 1em; right: 1em;
    margin: 0;
    cursor: pointer;
    transition: margin-top 0.3s;
}
#sidebar_close:hover { margin-top: -6px; }
#sidebar > ul {
    position: relative;
    margin: 70px 0 0 0;
    list-style-type: none;
}
#sidebar > ul > li { padding-bottom: 1em; } 
#sidebar li > a {
    font-family: Cafeteria, "Cafeteria", sans-serif;
    color: white;
    font-size: 1.8em;
    margin:0;
    transition: margin-left 0.3s;
}
#sidebar li > a:hover {
    text-decoration: none;
    margin-left: 0.5em;
}
@media( min-width: 768px ) {
    #sidebar { display:none !important; }
}
/* ======== SIDEBAR MENU */

/* MODAL =============== */
.modal-dialog { margin: 20px auto 15px; }
.modal-content { border-radius: 0; }
.modal-header {
    border-bottom: 0 none;
    color: #0094D3;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}
.modal .close img {
    position: relative;
    width: 50px;  height: auto;
}
.modal .close {
    position: absolute;
    top: -15px; right: -10px;
    opacity: 1;
    margin: 0;
    transition: margin-top 0.3s;
}
.modal .close:hover{ margin-top: -6px; }

.modal-dialog input {
    border-radius:0;
    border: 1px solid #0094D3;
}
.modal-dialog input::placeholder { color: #0094D3; }
.modal-footer {
    border-top: 0 none;
    text-align: center;
}
.modal button.snowless {
    display: inline-block;
    color: white;
}
/* =============== MODAL */

/* STICKY FOOTER ======= */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #0094d3;
    color: white;
    padding-top: 10px;
    line-height: 0.9em;
}
.footer a{ color: white; font-weight: bold; }
footer p { margin: 0;}
/* ======= STICKY FOOTER */


/* CONTENTS - Home ======= */
#home__sect { margin-top: 80px; }
#home__logoimg {
    max-height: 180px;
    margin-top: 1em;
}
#home__btnpremio, #home__btnhome {
    margin-top: 5px;
    cursor: pointer;
    transition: margin-top 0.3s;
}
#home__btnpremio:hover { margin-top: 10px; }
#home__btnhome:hover { margin-top: 0px; }

@media( min-height: 900px) {
    #home__sect { margin-top: 0; }
}

#home__prods2 { visibility: hidden;}
#home__prods, #home__prods2 { margin-top: -15% }
@media ( min-width: 992px ) {
    #home__prods, #home__prods2 { margin-left: -25%; }
}
/* ======= CONTENTS - Home */

/* CONTENTS - Register ======= */
#register__sect { margin-top: 0px; }
@media( min-width: 768px) {
    #register__sect { margin-top: 80px; }
}
#register h2 { margin: 20px 0 0; }
#register h2 { margin:10px 0 0; }

#register input {
    font-family: KelloggsSans, "KelloggsSans", sans-serif;
    color: white;
    text-shadow: 0 0 2px rgb(41, 49, 101), 0 0 5px rgba(41, 49, 101, 0.4);
    border-color: #4A90E2;
    border-radius: 0;
    background-color: rgba(74, 144, 226, 0.2);
}
#register .checkbox { text-align: left; }
#register label {
    color: #333;
    text-align:left;
}
#register input[type="checkbox"] {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 1.3em; height: 1.3em;
    margin-top: 0em;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
}
#register input[type="checkbox"]:checked::before {
    position: absolute;
    top:0; left:0;
    font-family: 'Glyphicons Halflings';
    content: "\e013";
}
#register input[type="checkbox"].error{ border-color: red; }
#register input::placeholder {
    color: white;
    text-shadow: 0 0 2px rgb(41, 49, 101), 0 0 5px rgba(41, 49, 101, 0.4);
}
#register .form a { color: #f8e71c !important; }
/* ======= CONTENTS - Register */

/* CONTENTS - Gracias ======== */ 
#gracias__sect { margin-top: 0px; } 
@media( min-width: 768px) { 
    #gracias__sect { margin-top: 80px; } 
} 
#gracias__h { position: relative; } 
 
#gracias__h::before { 
    position: absolute; 
    content: ""; 
    width: 130px; height: 210px; 
    bottom: 0px;  right: 0; 
    background-image: url(../img/xmastest_02.png); 
    background-size: 100% 100%; 
} 
@media( min-width: 768px) { 
    #gracias__h::before { 
        width: 200px;  height: 320px; 
        bottom: 40px;  right: 40px; 
    } 
} 
 
@media( min-width: 992px) { 
    #gracias__h::before { 
        width: 300px;  height: 450px; 
        bottom: 40px;  right: 40px; 
    } 
} 
/* ======== CONTENTS - Gracias */ 


/* ===== CONTENTS - Christmas Test */
#xmastest__sect { margin-top: 0px; }
@media( min-width: 768px) {
    #xmastest__sect { margin-top: 80px; }
}
#xmastest__holder { position: relative; }
#xmastest__ticket img {
    border: 1px solid #0094D3;
    padding: 2em;
    background-color: rgba(74, 144, 226, 0.2);
    margin-bottom: 1em;
}
#xmastest__ticket::before {
    position: absolute;
    content: "";
    width: 200px; height: 200px;
    bottom:-20px; right:0;
    background-image: url(../img/xmastest_01.png);
    background-size:100% 100%;
}
#xmastest__ticket.tony::before {
    background-image: url(../img/xmastest_02.png);
    width: 130px; height: 210px;
    bottom: 0px;  right: 0;
}

#xmastest h2{ text-transform: uppercase; margin-bottom: 0.2em; }
#xmastest h3{ margin: 0.2em 0 0.3em; }
#xmastest h4{ margin: 0; }
#xmastest label {
    color: #fff;
    text-align: left;
    text-shadow: 0 0 2px rgb(41, 49, 101), 0 0 5px rgba(41, 49, 101, 0.4);
}
#xmastest input, #xmastest select {
    font-family: KelloggsSans, "KelloggsSans", sans-serif;
    color: white;
    border-color: #4A90E2;
    border-radius: 0;
    background-color: rgba(74, 144, 226, 0.2);
}
#xmastest input {
    text-shadow: 0 0 2px rgb(41, 49, 101), 0 0 5px rgba(41, 49, 101, 0.4);
}
#xmastest select>option {
    background-color: white;
    color:#333;
    text-shadow: none;
}
#xmastest .trivia {  display:none; }
@media( min-width: 768px) {
    #xmastest__ticket::before {
        width: 350px; height: 300px;
        bottom: 20px; right: 30px;
    }
    #xmastest__ticket.tony::before {
        width: 200px;  height: 320px;
        bottom: 40px;  right: 40px;
    }
}
@media( min-width: 992px) {
    #xmastest__ticket.tony::before {
        width: 300px;  height: 450px;
        bottom: 40px;  right: 40px;
    }
}

#xmastest #Question {
    padding: 2em;
    text-align: center;
    font-family: KelloggsSans, "KelloggsSans", sans-serif;
    color: white;
    text-shadow: 0 0 2px rgb(41, 49, 101), 0 0 5px rgba(41, 49, 101, 0.4);
    border-color: #4A90E2;
    border-radius: 0;
    background-color: rgba(74, 144, 226, 0.2);
}
#xmastest #Question .answers {
    display: table;
    text-align: center;
    width: 100%;
    border-collapse: separate;
    border-spacing: 1.5em;
}
#xmastest #Question .answers > div {
    display: block;
    background-color: rgba(74, 144, 226, 0.4);
    padding: 1em;
    margin-bottom:1em;
    cursor: pointer;
}
#xmastest #Question .answers > div:hover { background-color: #03AF4D; }
@media(min-width: 768px) {
    #xmastest #Question .answers > div {
        display: table-cell;
        margin-bottom: 0;
    }
}
/* CONTENTS - Christmas Test ===== */

/* ======= CONTENTS - Profile */
#profile__sect { margin-top: 0px; }
@media( min-width: 768px) {
    #profile__sect { margin-top: 80px; }
}
#profile_page h2 { margin-bottom: 0; }
#profile_page h3 { margin-top: 0; }
#profile_page .table_w th{ padding: 0.4em; }
#profile_page .table_w td {
    padding: 0.4em 1em;
    text-align: left;
    color: white;
    background-color: transparent;
}
#profile_page .table_w table { width: 100%; }
#profile_page .table_w tbody tbody { background-color: transparent; }
#profile_page .table_w tbody > tr > td {
    text-shadow: 0 0 2px rgb(41, 49, 101), 0 0 5px rgba(41, 49, 101, 0.4);
}
#profile_page div[onclick] { cursor: pointer; }
/* CONTENTS - Profile ======= */

/* ===== CONTENTS - Winners */
#winners h2 {
    text-transform: uppercase;
    margin-bottom: 0.2em;
}
#winners h3{ margin: 0.2em 0 0.3em; }
#winners h4{ margin: 0;}
#winners__sect { margin-top: 80px; }
@media( min-height: 680px) {
    #winners__sect { margin-top: 40px; }
}
@media( min-height: 770px) {
    #winners__sect { margin-top: 0; }
}
/* CONTENTS - Winners ===== */

body > span[id^="s"] {
    /*display: none;*/
}
.snowholder {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    pointer-events: none;
    overflow:hidden;
}


/* Otros fixes */

_:-ms-input-placeholder, :root #home__sect { /* Hack para IE*/
    margin-top: 80px !important;
}
_:-ms-input-placeholder, :root .content__section.aligner { /* Hack para IE*/
    justify-content: space-around;
}

@media (min-width: 768px) { /* Hack para IE*/
    _:-ms-input-placeholder, :root .content__section {
        height: calc(100vh - 60px);
        overflow-y: auto;
    }
}