﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Cache-control" content="public, max-age=2628000, must-revalidate">
    <title>Kellogg's - Cumple tus deseos</title>

    <link rel="apple-touch-icon" sizes="64x64"   href="~/img/64x64.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/img/120x120.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/img/180x180.png">
    <link rel="icon" type="image/png" sizes="128x128" href="~/img/128x128.png">
    <link rel="icon" type="image/png" sizes="64x64"   href="~/img/96x96.png">
    <link rel="icon" type="image/png" sizes="32x32"   href="~/img/32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"   href="~/img/16x16.png">
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="/Content/general.css" rel="stylesheet" />

    @*@Styles.Render("~/Content/bootstrap")*@

	<style id="antiClickjack">
		body {
			display: none !important;
		}
	</style>
	<script type="text/javascript">
		if (self === top) {
			var antiClickjack = document.getElementById("antiClickjack");
			antiClickjack.parentNode.removeChild(antiClickjack);
		} else {
			top.location = self.location;
		}
	</script>
</head>
<body>
   
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="col-xs-12 col-xs-offset-0 col-sm-7 col-sm-offset-5 col-md-6 col-md-offset-6 col-lg-5 col-lg-offset-5">
                <img class="img-responsive center-block" src="~/img/header_logo.png" />
            </div>
        </div>
    </div>

    <div class="content bgimg">@ViewBag.Analytic
        @RenderBody()
    </div>
    
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center hidden-xs">
                    <a class="TermsConditions" onclick="showTerms()">Términos y condiciones</a> |
                    <a class="NoticePrivacy" onclick="showPrivacy()">Políticas de privacidad</a> |
                    <a href="http://www.kelloggs.com.mx/es_MX/contacto.html" target="_blank">Contacto</a> |
                    <a href="http://www.kelloggs.com.mx/" target="_blank">Kellogg's</a>
                </div>
                <div class="col-xs-12 text-center">
                    <p><small>&reg; Derechos reservadors 2017, Kellogg Company. Kellogg's y Pringles son marcas registradas. | Aliméntate sanamente.</small></p>
                </div>
            </div>
        </div>
    </footer>

    <div id="sidebar">
        <img id="sidebar_close" src="~/img/btn_cerrar.png" />

        <ul>
            @Html.Raw( ViewBag.Menu )
            <li><a onclick="showTerms()">Términos y Condiciones</a></li>
            <li><a onclick="showPrivacy()">Aviso de Privacidad</a></li>
            <li><a href="http://www.kelloggs.com.mx/es_MX/contacto.html" target="_blank">Contacto</a></li>
            <li><a href="http://www.kelloggs.com.mx/" target="_blank">Kellogg's</a></li>
        </ul>
    </div>

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="~/img/btn_cerrar.png" />
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnOk">Continuar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/Scripts/jquery-3.2.1.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/general.js"></script>
    <script src="/Scripts/jquery.maskedinput.js"></script>
    <script src="/Scripts/index_main.js"></script>
    @RenderSection("scripts", required: false)
    <script>GAN = '@ViewBag.Analytics'; SGAN = '@ViewBag.ShowAnalytics';</script>
    <script type="text/javascript" src="~/Scripts/snow.js"></script>
    <script src="~/Scripts/GAN.js"></script>

</body>
</html>