﻿@using FarmaciasGuadalajara.AppObjects;
@{ 
    var User = new cs_Client().getId();
}

<div class="content__section aligner" id="home">
    <div class="container">
        <div class="row visible-xs">
            <div class="col-xs-5">
                <img class="img-responsive" src="~/img/home_01.png" />
            </div>
            <div class="col-xs-5 col-xs-offset-2">
                <button class="img_btn visible-inline-xs" id="menu_mobile">
                    <img class="" src="~/img/btn_menu.png" />
                </button>
            </div>
            <div class="col-xs-12">
                <h2 class="uppercase text-left mb-0 fade_home">Estás a un abrir y cerrar de ojos <span class="amarillo">de ganar.</span></h2>
                <h2 class="uppercase text-left mb-0 fs-2 fade_prize">Incentivos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-6 text-left">
                <div class="row">
                    <div class="col-xs-9 col-sm-12">
                        <img class="img-responsive center-block hidden-xs" id="home__logoimg" src="~/img/home_01.png" />

                        <div class="fade_home">
                            <h2 class="hidden-xs uppercase">Estás a un abrir y cerrar de ojos <span class="amarillo">de ganar.</span></h2>
                            <ol class="text-left bold white_on_white">
                                <li><span class="amarillo">Compra mínimo $60&nbsp;MXN</span> en productos Kellogg's<sup>&reg;</sup> y Pringles<sup>&reg;</sup>.</li>
                                <li><span class="amarillo">Registra</span> tu ticket.</li> 
                                <li>Contesta correctamente la trivia, <span class="amarillo">participa para ganar $10,000</span> en ticket de regalo Edenred y haz realidad tu deseo.</li>
                            </ol>
                        </div>
                        <div class="fade_prize">
                            <h2 class="hidden-xs uppercase text-left mb-0 fs-2">Incentivos</h2>
                            <p class="bold white_on_white">¡Sólo tú sabes cuál es tu regalo ideal! Tenemos <span class="amarillo">15 tickets de regalo Edenred</span> con valor de <span class="amarillo">$10,000.00 MXN</span> cada uno.</p>
                        </div>
                    </div>
                </div>
                
                <!--botón s/img-->
                <div class="row">
                    <div class="col-xs-6 col-sm-12">
                        <button class="snowless" id="ChristmasTest" event="@User" data-title="Login">Participa ahora</button>
                        <button class="con_chevron fade_home" id="home__btnpremio"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span><br />Incentivos</button>
                        <button class="con_chevron fade_prize" id="home__btnhome"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span><br />Subir</button>
                    </div>
                    <div class="col-xs-6 visible-xs">
                        <img class="img-responsive mt-2-neg" src="~/img/home_02.png" />
                        <img class="img-responsive" src="~/img/home_03.png" style="margin: -25% 0 0 -25%;" />
                    </div>
                </div>
            </div>

            <!--<div class="hidden-xs col-xs-offset-0 col-sm-6 col-md-5 col-lg-4 col-md-offset-1 col-lg-offset-2 text-center" id="home__sect">-->
            <div class="hidden-xs col-xs-offset-0 col-sm-6 col-md-4 col-md-offset-1 text-center" id="home__sect">
                
                @if( new cs_Client().getId() > 0 ) {
                    <a class="yellowlink logOut">Cerrar sesión</a>
                    <button class="img_btn pull-right" id="profile" data-title="profile">
                        <img class="" src="~/img/btn_profile.png" />
                    </button>
                } else {
                    <button class="img_btn pull-right" id="homeLogin" title="Login" data-title="Iniciar sesión">
                        <img class="" src="~/img/btn_login.png" />
                    </button>
                }

                <img class="img-responsive fade_home" src="~/img/home_02.png" />
                <img class="img-responsive fade_home" id="home__prods" src="~/img/home_03.png" />
                <img class="img-responsive fade_prize mt-2" src="~/img/home_04.png" />
                <img class="img-responsive fade_prize" id="home__prods2" src="~/img/home_03.png" />

            </div>
        </div>

    </div>
</div>
