﻿
@{
    ViewBag.Title = "Award";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}

<div class="content">
    <div class="content__section aligner" style="background-color:lightseagreen;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Premios</h2>
                </div>
            </div>
        </div>
    </div>
</div>