﻿@using FarmaciasGuadalajara.AppObjects;
@{
    ViewBag.Title = "christmasTest";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}

@section Scripts {
    <script src="/Scripts/christmasTest.js"></script>
    @*@Scripts.Render("~/bundles/christmastest")*@
}

<div class="content__section aligner" id="xmastest">
    <div class="container">

        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <p class="hidden-xs">&nbsp;</p>
                <img class="img-responsive" src="~/img/home_01.png" />
            </div>
            <div class="col-xs-6 col-sm-offset-2 col-md-offset-3 text-right" id="xmastest__sect">
                @*<button class="img_btn visible-xs pull-right" id="menu_mobile">
                    <img class="" src="~/img/btn_menu.png" />
                </button>*@
                <div class="text-right" id="receipt3" style="clear: both; padding-top:1em;">
                    <h2 class="uppercase">Datos de tu cuenta</h2>
                    <h3><span  class="amarillo">¡No lo olvides!</span><br />Conserva tu ticket de compra</h3>
                </div>
            </div>
        </div>


        <div class="row" id="xmastest__ticket">

            @if( ViewBag.InitQuestion == null ) {

                <div class="col-xs-6 col-sm-4 col-md-3 text-center" id="receipt2">
                    <p class="bold white">¿Dónde localizar tus datos?</p>
                    <img class="img-responsive" src="~/img/ticket.jpg" />
                </div>

                <div class="col-xs-6 col-sm-4 col-md-3 text-left" id="Receipt">   
                    <div class="form-group">
                        <label for="State" class="form-control-label">Estado:</label>
                        <select class="form-control" id="State" name="State">
                            <option value="">-- Selecciona --</option>
                            @foreach( var data in (List<string>)ViewBag.getState ) {
                                <option value="@data">@data</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Location" class="form-control-label">Localidad:</label>
                        <select class="form-control" id="Location" name="Location">
                            <option value="">-- Selecciona --</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="SucursalNumber" class="form-control-label">Sucursal:</label>
                        <select class="form-control" id="SucursalNumber" name="SucursalNumber">
                            <option value="">-- Selecciona --</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Total" class="form-control-label">Monto en productos <span class="amarillo">Kellogg's<sup>&reg;</sup> y/o Pringles<sup>&reg;</sup>:</span></label>
                        <input type="number" class="form-control" id="Total" name="Total">
                    </div>
                    <div class="form-group">
                        <label for="SerialNumber" class="form-control-label">No. de ticket:</label>
                        <input type="text" class="form-control" id="SerialNumber" name="SerialNumber">
                    </div>
                </div>
            }

            @if (ViewBag.InitQuestion != null) {
                var data = (QuestionElement)ViewBag.InitQuestion;
                var a = data;
                <div class="col-xs-12 text-right triviakill">
                    <p class="white">Responde las preguntas <span class="amarillo">lo más rápido</span> que puedas.</p>
                </div>
                <div class="col-xs-12 trivia triviakill" id="Question">
                    <div class="question">                        
                        <b id="lblQuestioninit"><label style="color:#f8e71c;"> 1 de 5</label></b>
                        <p id="lblQuestion">@data.questionName</p>
                    </div>
                    <div class="answers" id="RbtAnswer">
                        @foreach( var element in data.data ) {
                            <div class="answer" id="@element.answerId" name="answerId" value="@element.answerId">
                                @element.answerName
                            </div>
                            @*<input type="radio" id="@element.answerId" name="answerId" value="@element.answerId">*@
                        }
                    </div>
                </div>

            }
            else {
                
                <div class="col-xs-12 trivia" id="Question">
                    <div class="question">
                        <p id="lblQuestion">&nbsp;</p>
                    </div>
                    <div class="answers" id="RbtAnswer"> </div>
                </div>
                
            }
        <!--
        </div>
        <div class="row">
        -->
            <div class="col-xs-7 col-xs-offset-0 col-sm-4 col-md-4 col-md-offset-2 text-center mt-1 mb-2 triviakill">
                <button class="snowless" value="siguiente" id="nextStep">Siguiente</button>
            </div>
        </div>
    </div>
</div>
