﻿@using FarmaciasGuadalajara.AppObjects;
@using FarmaciasGuadalajara.Models;
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
    var UserName = new cs_Client().getName();

    var Menu = ViewBag.Menu;
    var result = (cs_Configuration)ViewBag.Result;
}

@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="/Scripts/register.js"></script>
    @*@Scripts.Render( "~/bundles/register" )*@
}

<div class="content__section aligner" id="gracias">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <p class="hidden-xs">&nbsp;</p>
                <img class="img-responsive" src="~/img/home_01.png" />
            </div>
            <div class="col-xs-6 col-sm-offset-2 col-md-offset-3 text-right" id="gracias__sect">
                <button class="img_btn visible-xs pull-right" id="menu_mobile">
                    <img class="" src="~/img/btn_menu.png" />
                </button>
            </div>
        </div>
        <div class="row" id="gracias__h">
            <div class="col-xs-9 col-sm-8 col-md-7 col-lg-6 text-left white_on_white">
                <p class="fs-2 amarillo bold mb-0 uppercase">¡Bien hecho!</p>
                <p class="fs-2 bold">Recibimos <span class="amarillo">tus datos</span> satisfactoriamente. Ya puedes continuar con <span class="amarillo">tu participación.</span></p>
                <p class="hidden-xs">&nbsp;</p>
                <button class="snowless" onclick="window.location.href='@Url.Action("ChristmasTest", "Main")';return false;">Subir ticket</button>
            </div>
        </div>

    </div>
</div>
