﻿@using FarmaciasGuadalajara.AppObjects;
@using FarmaciasGuadalajara.Models;
@using System.Runtime.Serialization;
@using System.Runtime.Serialization.Json;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
    var UserName = new cs_Client().getName();

    var Menu = ViewBag.Menu;
    var result = (cs_Configuration)ViewBag.Result;
    List<cs_Winners> winners = null;
    
}

@switch (result.status) {
    case 0:  //Error 404
        <div class="content__section aligner bgimg">
            @Html.Partial("Error");
        </div>
    break;

    case 1:  //Home screen
        @Html.Partial( "HomeSec" );
    break;

    case 2:
        <div>@result.message</div>
        break;

    case 3: //Pantalla de Ganadores
        winners = Json.Decode<List<cs_Winners>>(ViewBag.winners[0].message.ToString());
        <div class="content__section aligner" id="winners">
            <div class="container">

                <div class="row visible-xs">
                    <div class="col-xs-5">
                        <img class="img-responsive" src="~/img/home_01.png" />
                    </div>
                    <div class="col-xs-7 text-right">
                        <button class="img_btn visible-inline-xs" id="menu_mobile">
                            <img class="" src="~/img/btn_menu.png" />
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="hidden-xs col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-2">
                        <img class="img-responsive" src="~/img/home_01.png" style="width: 50%;" />
                        <img class="img-responsive mt-1" src="~/img/home_02.png" />
                        <img class="img-responsive" src="~/img/home_03.png" style="margin: -25% 0 0 -20%;" />
                    </div>
                    <div class="col-xs-12 col-sm-6 text-center" id="winners__sect">
                        <h2 class="amarillo"><em>¡Gracias a todos!</em></h2>
                        <h3>Éstos son los ganadores ¡Felicidades!</h3>
                        <table class="table_w">
                            <thead>
                                <tr>
                                    <th><!--Lugar-->&nbsp;</th>
                                    <th>Nombre</th>
                                    <th>Tiempo</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var winner in winners) {
                                <tr>
                                    <td>@winner.Lugar° </td>
                                    <td>@winner.Nombre </td>
                                    <td>@winner.Tiempo </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row visible-xs">
                    <div class="col-xs-8 col-xs-offset-2">
                        <img class="img-responsive mt-1" src="~/img/home_02.png" />
                        <img class="img-responsive" src="~/img/home_03.png" style="margin: -25% 0 0 -20%;" />
                    </div>
                </div>
            </div>
        </div>
        break;
}