﻿@{
    Layout = null;
    string option = ViewBag.data;
    switch (option) {

        case "homeLogin":
            <div class="modal-body">
                <div class="form-group">
                    <!--<label for="recipient-name" class="form-control-label">Correo electrónico:</label>-->
                    <input type="email" class="form-control required" id="Email" placeholder="Correo electrónico" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control required" id="Password" placeholder="Contraseña" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="snowless" id="btnOk">Siguiente</button>
                <p><small>¿Olvidaste la contraseña?</small><br />
                    <a class="redlink" href="#" onclick="recoveryPassword()">Recuperar contraseña</a>
                </p>
                <p>
                    <small>¿No tienes cuenta?</small><br />
                    @*<a class="redlink" id="Register" href="#" onclick="register()">Crear cuenta contraseña</a>*@
                    @Html.ActionLink("Crear cuenta", "Register", "Main", new { }, new { @class = "redlink" })
                </p>
            </div>
            break;

        case "Register":

            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="form-control-label">Nombre:</label>
                    <input type="text" class="form-control required" id="Name">
                </div>
                <div class="form-group">
                    <label for="message-text" class="form-control-label">Apellidos Paterno:</label>
                    <input type="text" class="form-control required" id="LastName1">
                </div>
                <div class="form-group">
                    <label for="message-text" class="form-control-label">Apellidos Materno:</label>
                    <input type="text" class="form-control required" id="LastName2">
                </div>
                <div class="form-group">
                    <label for="message-text" class="form-control-label">Email:</label>
                    <input type="text" class="form-control required email" id="Email">
                </div>
                <div class="form-group">
                    <label for="message-text" class="form-control-label">Contraseña:</label>
                    <input type="password" class="form-control required" id="Password">
                </div>
                @*<div class="form-group">
                        <label for="message-text" class="form-control-label">Lada Telefono:</label>
                        <input type="text" class="form-control" id="LadaPhone">
                    </div>*@
                <div class="form-group">
                    <label for="message-text" class="form-control-label">Telefono:</label>
                    <input type="text" class="form-control required phone" id="Phone">
                </div>
                @*<div class="form-group">
                        <label for="message-text" class="form-control-label">Lada Celular:</label>
                        <input type="text" class="form-control" id="LadaCelular">
                    </div>*@
                <div class="form-group">
                    <label for="message-text" class="form-control-label">Celular:</label>
                    <input type="text" class="form-control required celular" id="Celular">
                </div>
                <div class="form-group">
                    <label for="message-text" class="form-control-label">Términos y condiciones:</label>
                    <input type="checkbox" class="required" id="TermsConditions">
                </div>
                <div class="form-group">
                    <label for="message-text" class="form-control-label">Aviso de privacidad:</label>
                    <input type="checkbox" class="required" id="NoticePrivacy">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnOk">Continuar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>


            break;

        case "RecoveryPassword":
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="form-control-label">Correo electrónico:</label>
                    <input type="text" class="form-control required email" id="Email">
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="snowless" id="btnOk">Continuar</button>
                <br />
                <a class="redlink" data-dismiss="modal">Cerrar</a>
            </div>

            break;


        case "TermsConditions":
            <div class="modal-body">
                <h3>Promoción “Kellogg’s<sup>&reg;</sup> Cumple tus deseos Navideños” <br />
                    Vigencia: 15 de noviembre al 31 de diciembre de 2017.<br />
                    Organizador: Grupo Pauta Creativa S.A. DE C.V </h3>

                <p class="bold" style="text-decoration: underline;">1.	REPRESENTANTES Y PATROCINADORES: </p>

                <p>La actividad promocional denominada “KELLOGG’S<sup>&reg;</sup> Cumple tus deseos Navideños” (en lo sucesivo “LA PROMOCION”), será realizada en los Estados Unidos Mexicanos, por medio de la Agencia promocional GRUPO PAUTA CREATIVA SA DE CV, la cual será denomina en este documento como  “EL ORGANIZADOR”. KELLOGG COMPANY MÉXICO, S. DE R.L. DE C.V., en adelante  “EL PATROCINADOR” autoriza  a “EL ORGANIZADOR” para que desarrolle y ejecute LA PROMOCION.</p>
                <p class="bold" style="text-decoration: underline;">2.	VIGENCIA DEL CONCURSO: </p>
                <p>15 de noviembre al 31 de diciembre de 2017.</p>

                <p class="bold" style="text-decoration: underline;">3.	TERRITORIO:</p>
                <p>Promoción válida en toda la República Mexicana</p>

                <p class="bold" style="text-decoration: underline;">4.	PARTICIPANTES: </p>
                <p>Podrán participar en el concurso todos las personas que compren productos de Kellogg’s<sup>&reg;</sup> y Pringles<sup>&reg;</sup> de venta en Farmacias Guadalajara participantes.</p>

                <p class="bold" style="text-decoration: underline;">5.	REQUISITOS INDISPENSABLES Y CONDICIONES: </p>
                <p>El ORGANIZADOR se reservan el derecho de verificar en cualquier momento que cada uno de los participantes cumpla con las condiciones de elegibilidad para participar en esta PROMOCION, quedando exentos de cualquier obligación (incluyendo la entrega de los incentivos o cualquier otra) frente a cualquier persona que haya participado o que haya pretendido participar en la PROMOCION sin cumplir con las condiciones de elegibilidad.</p>
                <p>Se considera como requisito indispensable y necesario para poder participar en esta PROMOCIÓN, que los interesados conozcan las condiciones y características de las limitaciones contenidas en los presentes Términos y Condiciones, que se darán a conocer en los diferentes medios publicitarios y en www.deseoskellogg.com.mx</p>

                <p class="bold" style="text-decoration: underline;">6.	MECÁNICA DEL CONCURSO:</p>
                <ul>
                    <li>Compra al menos $60.00 (sesenta pesos 00/100 MN) en productos Kellogg’s<sup>&reg;</sup> y Pringles<sup>&reg;</sup> en Farmacias Guadalajara participantes. </li>
                    <li>Registra tus datos completos (nombre completo, teléfono, dirección y dirección de correo electrónico) y ticket de compra en www.deseoskellogg.com.mx</li>
                    <li>Participa para ganar $10,000 pesos contestando correctamente la trivia correspondiente.</li>
                    <li>Si eres de los 15 participantes con el mayor número de aciertos en el menor tiempo ganas $10,000 pesos </li>
                </ul>


                <p class="bold" style="text-decoration: underline;">7.	INCENTIVOS: </p>

                <p>15 incentivos con valor cada uno de $10,000.00 (Diez mil 00/100 M.N.) entregados en Ticket regalo Edenred.</p>

                <p class="bold" style="text-decoration: underline;">8.	LIMITACIONES:</p>
                <ul>
                    <li>Limitado a 1 incentivo por participante y por ticket de compra.</li>
                    <li>Limitado a mayores de 18 años de edad.</li>
                    <li>Limitado a 3 participaciones por día.</li>
                </ul>


                <p class="bold" style="text-decoration: underline;">9.	RAZONES PARA DESCALIFICACION:</p>

                <p>“El Organizador” se reserva el derecho de no entregar los incentivos si consideran que: a) se incumplió alguno de los requisitos establecidos para participar y para obtener el incentivo; b) se incumplió con alguno de los términos aquí dispuestos; c) Los datos del participante son falsos o están incompletos; d) si hubo fraude o existiera algún motivo razonable para presumir la existencia de fraude o cualquier otra maniobra ilícita o no autorizada para la obtención de información relacionada con los resultados parciales de las votaciones, etc. En caso de fraude o presunción razonable del mismo, “El Organizador” se reserva el derecho de actuar legalmente en contra de cualquiera de los participantes que haya cometido dicha actividad, pudiendo intentar toda clase de recursos o acciones que sean legalmente aplicables.</p>
                <p class="bold" style="text-decoration: underline;">10.	SELECCIÓN DE GANADORES Y ENTREGA DE INCENTIVO:</p>


                <p>Los 15 participantes que hayan obtenido el mayor número de aciertos en la trivia en el menor tiempo posible serán los ganadores. En caso de empate, se usará el criterio para determinar al ganador, del participante que se haya registrado primero, considerando día, hora minuto y segundo.</p>

                <p>La selección de ganadores se realizará acuerdo con las bases y criterios de participación, y serán publicados el 08 de enero de 2018 en www.deseoskellogg.com.mx</p>

                <p>Los ganadores serán contactados vía telefónica, por El Organizador, dentro de los siguientes 3 días naturales y posteriores al cierre de La Promoción, de acuerdo con los datos proporcionados al momento de su registro. Se realizará un máximo de 3 intentos de llamadas al teléfono proporcionado por el participante en el periodo máximo de 2 días naturales. En caso de no lograr contactar al ganador y/o que éste no se comunique con La Organizadora en el periodo de tiempo antes indicado, La Organizadora podrá disponer de los incentivos como mejor convenga para los intereses de la Promoción. Para efecto de reclamación del incentivo, el ganador deberá enviar los documentos que se describen a continuación (Identificación oficial,  CURP y comprobante de domicilio) al correo electrónico que indique en su momento El Organizador.</p>

                <p>En caso de no lograr contactar al ganador y/o en caso que el ganador no acuda el día y hora en la que se le citó para la entrega de su incentivo, se entenderá por no aceptado el incentivo, eliminando cualquier posibilidad de reclamación posterior y liberando a El Patrocinador y El Organizador,  y/o sus filiales y subsidiaras, de cualquier responsabilidad. </p>

                <p>Una vez realizada la entrega de incentivos, el ganador será el único responsable de cualquier asunto relacionado con el mismo, liberando de toda responsabilidad a El Patrocinador y El Organizador, así como a filiales y subsidiarias.</p>

                <p>Los ganadores del concurso no podrán transferir, negociar o canjear el incentivo por efectivo ni por otros bienes o servicios que la empresa patrocinadora tenga.</p>

                <p>Para cualquier aclaración o información referente a esta promoción, comunicarse al (55) 5624 2105 de la Ciudad de México y Área Metropolitana o al 01 800 00 53 55 644 del interior de la República Mexicana.</p>

                <p class="bold" style="text-decoration: underline;">11.	DERECHOS DE AUTOR Y PROPIEDAD INTELECTUAL</p>


                <p>Al participar y registrarse en la promoción los participantes autorizan expresa e irrevocablemente a las afiliadas de  Kellogg Company México, S. de R.L. de C.V. de C.V. y Grupo Pauta Creativa S.A. de C.V. y/o cualquier otra empresa que ésta determine a difundir en los medios que Kellogg Company México, S. de R.L. de C.V. de C.V., estime conveniente sin límite territorial a fijar, a reproducir, difundir  su nombre y apellido completo, país y ciudad de origen, fotografías y/o uso de imagen o retrato, videos y/o voz, y en general todos aquellos datos que pudieran requerirse con motivo de la difusión de esta promoción, renunciando expresa e irrevocablemente desde la aceptación de las bases a cualquier tipo de compensación económica, remuneración, regalía o retribución alguna por dicho uso, siempre que los fines sean publicitarios y divulgativos en relación a la ley en vigor, para lo que mediante la aceptación de las presentes bases se emiten las autorizaciones que resulten necesarias de los participantes. </p>
                <p>En este acto, los participantes renuncian a cualquier tipo de compensación económica, remuneración o regalía, y autorizan a Kellogg Company México, S. de R.L. de C.V. de C.V. y Grupo Pauta Creativa S.A. de C.V., y sus afiliadas a que ésta determine, a publicar, fijar, reproducir y/o difundir por cualquier medio físico o electrónico, conocido o por conocerse incluyendo, pero no limitando redes sociales, las recetas que sean enviadas para su participación en la Promoción.</p>
                <p class="bold" style="text-decoration: underline;">12.	CONSIDERACIONES GENERALES:</p>


                <p>Para cualquier aclaración o información referente a esta promoción consulta las bases en www.deseoskellogg.com.mx</p>

                <p>No podrán participar empleados del Organizador ni El Patrocinador, ni de otras empresas que presten servicios a la misma, cónyuges, familiares de los mismos, hasta segundo grado de parentesco, así como toda persona relacionada o involucrada en la producción y desarrollo de La Promoción. </p>

                <p>En caso de identificarse alguna irregularidad en la participación de los ganadores, la fecha de participación o la vinculación familiar con alguno de los proveedores o prestadores de servicios de La Promoción, entre otros, causarán la descalificación de los participantes correspondientes y/o que los ganadores tengan que hacer devolución del incentivo entregado por El Organizador. </p>

                <p>Al momento de participar, estás aceptando nuestra política de privacidad que podrás consultar en www.deseoskellogg.com.mx</p>

                <p class="bold" style="text-decoration: underline;">13.	LÍMITES DE RESPONSABILIDAD DEL ORGANIZADOR </p>
                <p>El Organizador podrá en cualquier momento suspender La Promoción o la entrega del incentivo sin responsabilidad alguna, si dicha suspensión responde en acato de cualquier disposición emitida por cualquier autoridad jurisdiccional, así como si se dieren circunstancias de caso fortuito o fuerza mayor o eventos que afecten los intereses de El Organizador. </p>
                <p>Si por causas ajenas a El Organizador se suspendiera, modificara, alterara o de cualquier forma se vieran imposibilitados los acreedores para disfrutar del incentivo o de la actividad programada, El Organizador se reserva el derecho de otorgar opcionalmente algún incentivo igual o similar al incentivo al que el participante se hizo acreedor. De igual forma se procederá en los casos que existieran actos políticos, sociales o de salud que pusieran en peligro la integridad física de cualquiera de los acreedores. </p>
                <p>En todos estos casos, El Organizador publicará a través de medios impresos y/o a través de su página web los motivos en que se fundamenta la realización de cualquiera de los actos establecidos en el presente párrafo.</p>

                <p>Ninguno de los incentivos serán sujetos de comercialización alguna de manera enunciativa, más no limitativa, venta, permuta, arrendamiento, sustitución o dación en pago. </p>

                <p>La responsabilidad de El Organizador concluye al momento de la entrega de cada uno de los incentivos a sus correspondientes acreedores.</p>

                <p>La Organizadora no será responsable por el uso que le brinde el participante a cualquiera de los incentivos, ni por procesos judiciales, extrajudiciales o de cualquier otra índole que puedan ser interpuestos en relación con un reclamo de cualquier tipo de responsabilidad, por hechos acontecidos durante o como consecuencia de la entrega del mismo, así como relacionados con la calidad, garantías por daños, pérdidas o perjuicios ocasionados por el uso y disfrute del incentivo. </p>
                <p>Los incentivos serán entregados en el lugar establecido por El Organizadora, siempre y cuando el participante haya cumplido con los Términos y Condiciones de La Promoción y siempre que no se haya identificado alguna irregularidad en su participación. </p>

                <p>El acreedor al incentivo deberá seguir todas las direcciones e instrucciones de La Organizadora, en caso de incumplimiento de cualquiera de éstas, el participante será descalificado. </p>

                <p>Al participar en La Promoción, el acreedor acepta expresamente haber leído y entendido a la perfección los presentes términos y condiciones y estar de acuerdo con los mismos. </p>

                <p>La Organizadora se reserva el derecho a realizar modificaciones o añadir anexos sucesivos sobre su mecánica e incentivos, siempre que las mismas estén justificadas o no perjudiquen a los participantes y se comuniquen a éstos debidamente.</p>

                <p class="bold" style="text-decoration: underline;">14.	AVISO DE PRIVACIDAD:</p>


                <p><em>a. IDENTIDAD DEL RESPONSABLE DEL TRATAMIENTO</em> <br />Con motivo del cumplimiento de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en adelante “LFPDPPP”) y su reglamento, Grupo Pauta Creativa, S.A. de C.V., (en adelante “PAUTA CREATIVA”), será la responsable de la obtención, resguardo, tratamiento y/o en su caso de la remisión y/o transferencia de sus datos personales (en adelante “DATOS”), con domicilio en: Berlín, Número 318, Colonia Del Carmen, Delegación Coyoacán, Ciudad de México, México, C.P. 04100.</p>
                <p><em>b. OBTENCIÓN Y FINALIDADES DEL TRATAMIENTO DE LA INFORMACIÓN.</em><br />
                    Los DATOS serán obtenidos de usted, a través de los talleres  y/o por cualquier medio electrónico, óptico, sonoro, físico, visual, u otra tecnología regulada por la LFPDPPP. Los DATOS que se recabarán serán los siguientes: (i) Datos de identificación; (ii) Datos de Contacto.
                </p>
                <p>PAUTA CREATIVA utilizará sus DATOS para llevar a cabo la administración de su participación en La Promoción. PAUTA CREATIVA tratará sus DATOS con las debidas medidas de seguridad administrativas, técnicas y físicas suficientes y/o necesarias para cumplir con las obligaciones establecidas en la LFPDPPP y su reglamento.</p>

                <p><em>c. TRANSFERENCIA Y/O REMISION DE DATOS PERSONALES.</em><br />
                    Con motivo de La Promoción, PAUTA CREATIVA podrá transferir y/o remitir sus DATOS a filiales, subsidiarias y/o terceros nacionales o extranjeros, ya sean personas físicas o morales con las que sostenga una relación jurídica, comercial y/o contractual, señalando que no se requerirá de su consentimiento para realizar la(s) transferencia(s) y/o remisión(es) necesaria(s), cuando se presente alguno de los supuestos establecidos en los artículos 14 y 37 de la LFPDPPP, los datos obtenidos únicamente se podrán utilizar con el propósito de ejecutar la actividad promocional.
                </p>

                <p><em>d. EJERCICIO DE SUS DERECHOS ARCO</em><br />
                    Usted puede solicitar a PAUTA CREATIVA en cualquier momento, el Acceso, Rectificación, Cancelación u Oposición (DERECHOS ARCO), respecto de sus DATOS, así como revocar su consentimiento para el tratamiento de dichos DATOS, por medio de un correo electrónico a la dirección: privacidad@pautacreativa.com.mx. Así mismo, usted podrá limitar el uso y/o divulgación de sus DATOS a través del medio antes señalado.
                </p>

                <p><em>e. CAMBIOS AL AVISO DE PRIVACIDAD</em><br />
                    Cualquier cambio por disposición legal, regulatoria y/o corporativa de PAUTA CREATIVA, que se realice a este aviso e privacidad, será dado a conocer vía correo electrónica a los titulares de los DATOS.
                </p>

                <p><em>f. AUTORIDAD REGULADORA</em><br />
                    El Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales (INAI), es la autoridad competente para garantizar el acceso y protección de sus DATOS, así mismo se le informa que de ser necesario, puede acudir ante el INAI para hacer efectivos sus derechos.
                </p>
                <p class="bold" style="text-decoration: underline;">15.	ACEPTACION: </p>
                <p>Los participantes aceptan que todas las decisiones que adopten EL ORGANIZADOR y EL PATROCINADOR, sus representantes legales o ejecutivos, empleados, sus filiales y/o subsidiarias sobre cualquier cuestión no prevista en las mismas serán finales.</p>

                <p class="bold" style="text-decoration: underline;">16.	ACCIONES:</p>
                <p>Todas las personas participantes renuncian a cualquier acción de reclamo civil, administrativo, penal, laboral, y a cualquier otra acción de índole judicial en contra de EL ORGANIZADOR y EL PATROCINADOR, sus representantes legales, ejecutivos, empleados, sus filiales y/o sus subsidiarias y todas las marcas de las cuales éstas son titulares. Los participantes reconocen y aceptan que la ley aplicable para cualquier controversia que surja con relación a esta promoción será la del territorio y renuncian a su derecho a iniciar cualquier tipo de reclamación en otra jurisdicción. </p>


            </div>
            break;

        case "NoticePrivacy":
            <!--
                
            
            <div class="modal-body">
                <p>Kellogg Company y sus subsidiarias, afiliadas, divisiones y grupos (conjuntamente referidos aquí como “Kellogg” o “Nosotros”) se preocupa por la privacidad personal y reconoce su obligación con sus clientes, comunidad y visitantes en línea de adherirse a los más altos estándares de decencia, justicia e integridad en todas sus operaciones. Al igual que en nuestras otras operaciones de negocios, en Internet, Kellogg maneja sus operaciones con respeto por y compromiso con los derechos individuales de privacidad y con preocupación y respeto por las diversas sensibilidades de nuestros consumidores. Apoyamos la auto-regulación activa de este entorno en línea para asegurarnos de que los mercadólogos responsables puedan mantener el derecho de utilizar todos los medios de comunicación para interactuar con los consumidores. Esta Política de Privacidad revela como Kellogg y sus Agentes (los Agentes se definen como contratistas, proveedores de servicios, y otras entidades que actúan en representación de, y con la autorización de Kellogg) reúnen, protegen, utilizan y comparten información recabada de ti en nuestro sitio de internet (“Sitio”). Esta Política de Privacidad aplica para este Sitio, sin embargo, esta información es accesada o utilizada (es decir a través de computadoras personales, equipos móviles, u otros), y otros dispositivos interactivos, aplicaciones, o descargas operadas por Kellogg que se encuentran disponibles a través de este Sitio, o que interactúan con este Sitio y publican esta Política de privacidad. Esperamos que este comunicado contribuya a incrementar su confianza en nuestro Sitio y mejore su experiencia al navegar en Internet.</p>

                <p>En nuestro Sitio, ofrecemos una variedad de contenido. Podemos ofrecer información del producto, recetas, cupones, juegos, mercancías para su venta, entretenimiento, publicidad, encuestas, promociones, concursos, así como información acerca de nuestra compañía y servicios especiales e información para nuestros accionistas. La información de nuestra compañía puede incluir información acerca de oportunidades de puestos y requisitos así como oportunidades para solicitar trabajos en línea. Esperamos que disfruten nuestro Sitio, y las diversas características y oportunidades que ofrecemos.</p>

                <p class="bold" style="text-decoration: underline;">TEMAS GENERALES</p>
                <ol>
                    <li>Cómo se Recaba la Información</li>
                    <li>Uso de la Información Personal</li>
                    <li>Compartir la Información Personal</li>
                    <li>Legislación Aplicable; Transferencia de Información</li>
                    <li>Recabar Información de Niños Menores de 13 Años</li>
                    <li>Uso de Cookies u Otras Tecnologías</li>
                    <li>Medidas de Seguridad</li>
                    <li>Links hacia y desde Otros Sitios</li>
                    <li>Revisión y Actualización de Tu Información</li>
                    <li>Actualizaciones a esta Política de Privacidad</li>
                    <li>Aviso para Residentes de California</li>
                    <li>Aviso para Residentes de la República Mexicana</li>
                    <li>Cambios y acceso a información personal</li>
                    <li>Propiedad Intelectual</li>
                    <li>Liberación de Responsabilidad</li>
                    <li>Preguntas</li>
                </ol>

                <p class="bold">POLÍTICA DE PRIVACIDAD</p>

                <p class="bold" style="text-decoration: underline;">1. CÓMO SE RECABA LA INFORMACIÓN</p>

                <p>Recabamos automáticamente cierta información no-personal, tal como direcciones IP, tipos de buscadores, sitios web de referencia y horarios de acceso, cuando los consumidores visitan nuestro Sitio. Esta información “web log” no es identificable personalmente, pero proporciona información importante acerca del número de visitantes, y qué áreas o características prefieren. Nuestros visitantes pueden revisar nuestro Sitio y participar en las diversas características sin revelar ninguna información personal.</p>
                <p>Kellogg recaba de manera voluntaria, información personal de los visitantes a nuestro Sitio, la cual incluye, más no está limitada a, nombre, domicilio particular, dirección de correo electrónico y número telefónico. Los visitantes pueden tener acceso a nuestros sitios sin proporcionar ninguna información personal. Sin embargo, para participar en algunos de los programas o características que ofrecemos, los clientes tendrán que proporcionar información personal. Por ejemplo, es posible que podamos solicitar tu nombre y tu dirección de e-mail para agregarte a una lista de envíos de e-mails o para registrarte en concursos en línea. Es posible que te solicitemos un domicilio particular y un número telefónico cuando te inscribes en un concurso para que podamos enviarte notificaciones acerca del premio o bien los premios mismos o para enviarte ofertas especiales. Los usuarios que se registran mediante un dispositivo inalámbrico para recibir información, deberán proporcionar un número celular para recibir mensajes de texto. Los usuarios podrán actualizar sus preferencias y suscripciones y/o borrar sus cuentas en cualquier momento de acuerdo con lo dispuesto en las secciones 9 y 13 de ésta Política de Privacidad o en su defecto por los medios que se señalen al momento de suscribirse.</p>

                <p>Para que los accionistas registrados puedan tener acceso para recibir poderes y otra información en línea, les solicitaremos un número de identificación de seguridad social o fiscal, así como otra información para verificar su identidad. Si presentas en línea, tu solicitud para un trabajo, te pediremos información que podrá incluir, pero no estará limitada a tu nombre, domicilio particular, número de teléfono, dirección de e-mail, fecha de nacimiento, número de empleado de Kellogg, y/o los últimos cuatro dígitos de número del seguro social.</p>

                <p>Podremos solicitar retroalimentación de nuestros visitantes en forma de encuestas, cuestionarios o mediante nuestras formatos de retroalimentación en relación a sus preferencias y reacción hacia nuestros productos, incluyendo información demográfica, tal como edad, género e intereses, para que nos ayuden a servirles mejor. Esta información se utilizará únicamente para fines de investigación y no para futuras actividades de mercadotecnia, a menos de que se exprese explícitamente. Solicitamos datos de tarjeta de crédito en dónde ofrecemos oportunidades de compras en línea. En nuestras tiendas en línea también requerimos información de dirección de envío y dirección de facturación.</p>

                <p>A los usuarios que desean tener acceso a características especiales, promociones, cupones, boletines, juegos y otra información que se encuentra en el Sitio, podrá solicitárseles registrar una cuenta.</p>

                <p>En muchos casos, tendrás la oportunidad de enviar contenido o información a un amigo. En los casos de “refiere-a un-amigo”, el e-mail de tu amigo se utilizará únicamente para entregar el mensaje y no para otros fines de mercadeo, a menos de que se especifique de otra manera. Podemos utilizar uno o más servicios de vaciado de información para que nos proporcionen reportes en relación con las actividades de nuestros clientes en nuestro Sitio. Haz click aquí para obtener una lista de nuestros proveedores de servicios y de sus prácticas de privacidad. Cuando visites nuestro Sitio, estos servicios pueden enviar en nuestra representación (esto es: pequeños archivos de datos que un sitio manda a tu computadora, para que tu acceso sea más fácil y/o más rápido) y también reciben información acerca de tu actividad de navegación (esto es: páginas visitadas, etc.). Podrás rechazar el uso de cookies, realizando los ajustes adecuados en tu buscador. Recuerda que si haces esto, entonces probablemente no podrás aprovechar la funcionalidad completa del sitio Web, tal como contenidos personalizados o contraseñas guardadas.</p>

                <p>En ocasiones extraordinarias, si resultare absolutamente indispensable podremos solicitar Datos Sensibles ante lo cual se requerirá consentimiento expreso del titular mediante firma electrónica, firma autógrafa o cualquier otro mecanismo de autenticación que al efecto se establezca.</p>

                <p>Al utilizar este Sitio, otorgas tu consentimiento para procesar que tus datos sean utilizados por terceros en la forma y para los fines aquí descritos. Para mayor información acerca de cookies, consulta por favor la información en la sección 6 más adelante.</p>
                <p class="bold" style="text-decoration: underline;">2. USO DE LA INFORMACIÓN PERSONAL</p>

                <p>A menos de que se especifique aquí de otra manera, la información personal compartida con Kellogg se utilizará para los fines para los cuales se proporcionó o para la mercadotecnia interna de la compañía o para fines de desarrollo de productos, y no se venderá ni se proporcionará a terceros fuera de la familia de compañías Kellogg para sus fines de mercadotecnia, sin tu permiso. Si decides proporcionar información personal para participar en un área especial de nuestro sitio, tal como registrarte para actualización de e-mail o para un programa o concurso especial, únicamente utilizaremos la información que proporcionaste para ese propósito. Con el fin de diseñar mejor nuestra publicidad y nuestras ofertas para ti acerca de los productos y servicios que ofrecemos y que pudieran ser de tu interés, automáticamente compartiremos con otras marcas Kellogg, la información personal que proporcionaste, a menos de que elimines la marca de la casilla correspondiente en el área de registro. En cada uno de nuestros comunicados profesionales, ofrecemos a nuestros visitantes una opción de no deseo recibir, para evitar continuar recibiendo dicha información.</p>

                <p>Podremos utilizar tanto información personal como no-personal, en forma individual o combinada, para mejorar nuestros esfuerzos de mercadológicos y promocionales, mejorara nuestros productos y servicios, entender mejor los intereses y preferencias de nuestros consumidores, y/o proporcionarte información importante. Podremos mejorar o combinar información personal que tú proporciones con datos legalmente obtenidos de terceros.</p>
                <p class="bold" style="text-decoration: underline;">3. COMPARTIR LA INFORMACIÓN PERSONAL</p>

                <p>A menos que se especifique de otra manera, en los sitios propiedad de Kellogg, la información personal recibida por parte de cualquier visitante, únicamente se utilizará para el fin para el cual fue proporcionada y no para fines internos de mercadotecnia, o para propósitos de desarrollo de productos, y no se venderá ni se proporcionará a terceros fuera de la familia de compañías Kellogg para sus objetivos de mercadotecnia, sin tu consentimiento. Como se describe anteriormente, compartiremos automáticamente tu información con otras marcas Kellogg.</p>

                <p>Tu información personal podrá compartirse también con otros Representantes de las áreas de investigación, técnica, satisfacción y otros para que podamos tener disponible el Sitio, proporcionar servicios y productos, entender tus necesidades, responder a tus solicitudes, y para fines internos de mercadotecnia y desarrollo de productos.</p>

                <p>Podremos también proporcionar tu información personal a terceros para fines de análisis. Y en esos casos, solicitaremos a los representantes de estas terceras partes a conservar la confidencialidad de la información. Podremos utilizar a terceros para mejorar o actualizar la información de tu perfil para servir mejor a nuestros consumidores.</p>

                <p>En algunos casos, podremos realizar actividades conjuntas con otra compañía para proporcionar cierto contenido, programas o características. Estos ejemplos pueden incluir ciertas promociones, programas de lealtad, o concursos. En esos casos, cuando proporcionas tu información personal o la de tu hijo, esta podrá enviarse directamente a Kellogg y a nuestra compañía en co-participación, o podremos compartir información con ésta última. En el momento de registrarte, te informaremos si además de Kellogg, otra compañía está recabando información o si necesitamos compartir tu información personal con una compañía asociada para proporcionar el programa, servicio o característica. Nosotros (y nuestra compañía asociada) proporcionará también un link para las políticas correspondientes de privacidad en línea, de manera que puedas tomar una decisión informada acerca de compartir tu información o (la de tu hijo.) Si eliges no compartir la información de tu hijo, tu información no será compartida, y no podrás participar en ni recibir los beneficios o servicios proporcionados por nuestros socios comerciales. Aun cuando nos esforzamos por asociarnos únicamente con compañías que aceptan adoptar políticas de privacidad que son consistentes que nuestros propios valores y políticas, y que aceptan cumplir con Children’s Online Privacy Protection Act (“COPPA”), nosotros no somos responsables de las políticas u ofrecimientos de terceros, y les pedimos revisen sus políticas, términos y condiciones, ya que podrían variar.</p>
                <p class="bold" style="text-decoration: underline;">4. LEGISLACIÓN APLICABLE; TRANSFERENCIA DE INFORMACIÓN</p>

                <p>Esta Política de Privacidad será regulada por las leyes de los Estados Unidos de Norteamérica. El (los) servidor (es) que brinda (n) la disponibilidad de este Sitio y de la (s) base (s) de datos en dónde se almacenará la información, puede (n) estar ubicados fuera del país desde dónde tuviste acceso a este Sitio, en un país que no tiene las mismas leyes de privacidad que tu país de residencia. Por lo tanto, la información personal proporcionada a nosotros, puede transmitirse hacia el exterior, pero nosotros recabaremos, procesaremos y utilizaremos la información personal únicamente de acuerdo con esta Política de Privacidad.</p>

                <p>Al visitar este Sitio y registrar tu información, aceptas dicho ingreso, procesamiento, transferencia y/o almacenamiento de tu información personal. Para información detallada acerca de nuestras prácticas de privacidad en relación a información de los consumidores localizados en la Unión Europea, favor de consultar EU Safe Harbor Privacy Policy.</p>

                <p>Preguntas relacionadas con empleo pueden transferirse también a cualquier compañía Kellogg a nivel mundial, y hemos instituido procesos para cumplir con las leyes aplicables de protección a la información de la Unión Europea, en relación con dichas transferencias.</p>
                <p class="bold" style="text-decoration: underline;">5. RECABAR INFORMACIÓN DE NIÑOS MENORES DE 13 AÑOS</p>

                <p>Tenemos un enfoque muy claro acerca de la necesidad de los niños menores de 13 años que pueden visitar este Sitio, de consultar con sus padres antes de proporcionar información personal, y por lo tanto, hemos adoptado procedimientos especiales para salvaguardar la privacidad en línea de los niños. Hemos desarrollado nuestras prácticas de privacidad en base a los lineamientos establecidos por Children's Advertising Review Unit (“CARU”) y en cumplimiento con los requerimientos establecidos por Children’s Online Privacy Protection Act ("COPPA"). Recomendamos también que supervises las actividades en línea de tu hijo y que conozcas y aprendas el uso del software o de otras herramientas que pueden contribuir a que tu hijo disfrute el Internet de una manera que refleje tus propias preferencias.</p>

                <p>Kellogg no condiciona la participación de un niño en una actividad, en base a que proporcione más información de lo que es razonablemente necesario para poder participar. Podremos solicitar a los visitantes que registren su fecha de nacimiento para restringir a los menores de edad el acceso a ciertos sitios, áreas o características. Podremos recabar el primer nombre del niño y su dirección de e-mail sin el consentimiento de los padres, pero solamente para responder a una única pregunta o solicitud, y después de responder borramos inmediatamente esa información. Cuando un niño menor de 13 años se registra para recibir comunicados u otra actividad que requiere de múltiples contactos en línea, le solicitaremos una dirección de e-mail del padre o tutor, de manera que podamos notificar a estos últimos y obtener su consentimiento o darles la opción de no optar por ello.</p>

                <p>Para toda la información personal, requerimos primero de un consentimiento verificable del padre o tutor a través de un método que cumple con los lineamientos de COPPA. En caso de obtener la información de los padres, podremos recabar información adicional de un niño tal como su primer nombre, dirección de e-mail, domicilio particular y número telefónico. Esta información nos ayuda a personalizar las ofertas especiales, los concursos y los juegos, y a ofrecer otras actividades que puedan ser de interés para nuestros consumidores menores de trece años.</p>
                <p class="bold" style="text-decoration: underline;">6. USO DE COOKIES U OTRAS TECNOLOGÍAS</p>

                <p>Tal y como se mencionó en la sección 2 anterior, Kellogg utiliza "session cookies”, "persistent cookies”, y "Flash cookies" para recordar información importante que pueda hacer más disfrutable, eficiente y útil tu uso del Sitio; no contienen información personal. Utilizamos cookies y direcciones IP para obtener información no-personal de los visitantes en línea, proporcionamos a los usuarios registrados una experiencia a la medida, personalizada y diseñamos nuestros productos, servicios y publicidad para satisfacer los intereses personales de nuestros visitantes. Por ejemplo, pueden, ayudar a brindarte un acceso más rápido a páginas que ya has visitado, te permiten personalizar tus páginas, y te ayudan a participar en algunas actividades o eventos en el Sitio. También utilizamos cookies para determinar cuántas personas visitan nuestro Sitio, y que características son más útiles y populares y cuales pueden requerir mejorarse. Podemos utilizar también “session cookies” para evitar evadir el proceso de filtrado para fines de cumplimiento con COPPA, y en áreas de registro podemos utilizar “persistent cookies”.</p>

                <p>Si no deseas "session cookies" o "persistent cookies", puedes desactivarlas o que tu computadora te avise cuando estas cookies se envían, esto lo puedes hacer siguiendo las instrucciones específicas de tu navegador, tales como Safari, Firefox, Opera, o Internet Explorer. Además, puedes deshabilitar o borrar información similar utilizada por los add-ons de tu navegador, tal como "Flash cookies," cambiando los parámetros de add-ons o visitando el sitio Web de su fabricante. Si las cookies están desactivadas, no podrás tener acceso a ciertas características. Podemos utilizar también otra tecnología, llamada clear GIFs o web beacons, para que nos proporcione otra información anónima importante, tal y como cuándo se abre un e-mail, el número de visitante que han visto nuestras páginas Web, y las actividades y características que son de mayor interés para los consumidores.</p>
                <p class="bold" style="text-decoration: underline;">7. MEDIDAS DE SEGURIDAD</p>

                <p>Kellogg realiza todos los esfuerzos razonables para asegurarse que toda la información personal que se recibe de nuestros visitantes en línea se encuentra segura ante un acceso y uso no autorizados. Toda la información personal de nuestros clientes se encuentra protegida a través de nuestras medidas de seguridad, tales como los encriptados que se revisan periódicamente. Kellogg requiere también que sus Representantes mantengan la confidencialidad de tu información personal.</p>

                <p>Kellogg se preocupa por la seguridad e integridad de tus transacciones de tarjeta de crédito o de la información de los accionistas y utiliza 124-bit SSL (“Secure Sockets Layer”) cuando nos proporcionas en línea tus datos de tarjeta de crédito o información personal delicada. SSL es el protocolo estándar de seguridad de la industria, que hace que sea complicado el que otros intercepten tu información en línea.</p>

                <p>Salvaguardamos los datos de tu tarjeta de crédito en nuestros sistemas internos a través del uso de las protecciones estándar de la industria de tarjetas de crédito. Sin embargo, es importante que recuerdes, que ninguna información transmitida a través de Internet es 100% segura y que cualquier información revelada en línea puede potencialmente ser recabada y utilizada por terceros ajenos al destinatario deseado.</p>
                <p class="bold" style="text-decoration: underline;">8. LINKS HACIA Y DESDE OTROS SITIOS</p>

                <p>Este Sitio puede contener links a otros sitios. Hacemos todos los esfuerzos razonables para vincularnos con sitios Web que comparten nuestros altos estándares de decencia, equidad e integridad. Intentamos hasta dónde nos es posible asegurarnos de que estos links son seguros para los niños, pero las prácticas de privacidad y recolección de la información en cualquier sitio Web vinculado, son totalmente independientes de Kellogg y no se encuentran cubiertas por esta Política de Privacidad. Kellogg no se hace responsable de cualquier falla por parte de los sitios Web, en relación al cumplimiento con cualquier Política de Privacidad anunciada en nuestro Sitio Web, ni de cualquier obligación contractual o legal de otro tipo a las que estén sujetos los operadores de dicho Sitio Web. Además, otros sitios Web, que puedan contener material no consistente con las Políticas Corporativas de Kellogg, y que puedan vincularse con los sitios Web de Kellogg, sin el conocimiento o consentimiento de Kellogg. Kellogg no asume responsabilidad alguna por el contenido, políticas o acciones de estos sitios Web.</p>
                <p class="bold" style="text-decoration: underline;">9. REVISIÓN Y ACTUALIZACIÓN DE TU INFORMACIÓN</p>

                <p>Los consumidores de Kellogg que provean información personal a Kellogg pueden corregir, actualizar y eliminar información personal de nuestra base de datos en cualquier momento enviando un mensaje de correo electrónico a Kellogg, haciendo clic en el hipervínculo "contáctenos" que aparece en la parte inferior de cada página de los sitios web de Kellogg o bien pueden comunicarse con el Centro de Atención al Consumidor Kellogg en México al 01 800 005355644, en Guatemala al 1800 8357465, en Honduras al 800 27919027, en Costa Rica al 800 052 1615, en El Salvador al 800 62 28, en Nicaragua al 001 800 22 60 238, en Perú al 221 25 46, en Panamá al 01 800 05 21 222, en Ecuador al 1 800 0000222, en Argentina al 0800 122 5355, en Chile al 800 411 4600, en Venezuela al 0 800 535 56 44 y en Colombia al 01800 0110099.</p>
                <p class="bold" style="text-decoration: underline;">10. ACTUALIZACIONES A ESTA POLÍTICA DE PRIVACIDAD</p>

                <p>
                    Kellogg se reserva el derecho de actualizar, revisar, modificar y complementar estas políticas y cualquier tipo de revelaciones o renuncias en cualquier momento y sin previo aviso. Podremos también cambiar la información, características, productos, políticas o promociones en este Sitio en cualquier momento y sin previo aviso.
                </p>
                <p>Los cambios a esta Política de Privacidad serán publicados en nuestro Sitio, por lo tanto, favor de verificar nuestra Política en forma periódica en relación a estos cambios. Al final de esta Política de Privacidad indicamos la fecha de la última actualización a la Política. Tu uso continuo de este Sitio, después de cualquier cambio a esta Política de Privacidad representa tu aceptación de estos cambios.</p>
                <p class="bold" style="text-decoration: underline;">11. AVISO A RESIDENTES DE CALIFORNIA</p>

                <p>Bajo la Ley de California “Shine the Light”, los residentes de California que proporcionan información personal al obtener productos o servicios personales para uso personal, familiar o casero, tienen el derecho de solicitar y obtener por parte de nosotros, una vez durante por año calendario, información acerca de la información acerca del consumidor que nosotros hayamos compartido, si la hubiera, con terceros para sus objetivos directos de mercadotecnia, incluyendo las categorías de información y nombres y direcciones de terceros con los que hayamos compartido la información.</p>

                <p>Para obtener esta información de Kellogg, favor de contactar a nuestro Departamento de Consumer Affairs mediante 1) el uso de la forma “Contact us” en el sitio Web, 2) llamando al 800-962-1413 de Lunes a Viernes 8am - 7pm ET, o 3) escribiendo a Kellogg Consumer Affairs, PO BOX CAMB, Battle Creek, MI 49016. Deberá proporcionar una dirección actual de California para recibir nuestra respuesta. Favor de considerar que no toda la información compartida se encuentra cubierta por la Ley "Shine the Light", y únicamente incluiremos en nuestra respuesta, información relacionada con nuestras prácticas compartidas en lo que se requiere a información cubierta.</p>
                <p class="bold" style="text-decoration: underline;">12. AVISO PARA RESIDENTES DE LA REPÚBLICA MEXICANA</p>

                <p>La presente política de privacidad se ajusta estrictamente a lo lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares. Para dichos efectos se señala lo siguiente:</p>

                <p>Kellogg Company México, S. de R.L. de C.V. con domicilio en Km. 1 Carretera a Campo Militar s/n Col. San Antonio de la Punta C.P. 76135 Querétaro, Querétaro, será el responsable de los datos personales y/o sensibles que se recaben en apego a la presente política de privacidad.</p>

                <p>En todo momento usted tendrá disponible el acceso a los datos proporcionados, para requerir la rectificación, cancelación u oposición de los mismos; esto ya sea a través de las herramientas de administración de cuentas – cuando así corresponda – disponibles en el sitio y/o enviándonos un mensaje electrónico, escrito o por contacto telefónico con la siguiente información sobre el titular de los datos (sin perjuicio de cualquier otro requisito que la Ley mencionada o sus normas reglamentarias fijen al efecto):</p>

                <p>I. El nombre del titular y domicilio u otro medio para comunicarle la respuesta a su solicitud;</p>

                <p>II. Los documentos que acrediten la identidad o, en su caso, la representación legal del titular;</p>

                <p>III. La descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos antes mencionados, y</p>

                <p>IV. Cualquier otro elemento o documento que facilite la localización de los datos personales. Lo anterior dirigiendo su mensaje al departamento de Atención al Consumidor de Kellogg Company México, S. de R.L. de C.V. al domicilio indicado previamente en éste apartado, o al correo electrónico consumer-affairs.la@kellogg.com, o al teléfono 5624 2105 del D.F. o Área Metropolitana, o al 01 800 00 5355644 del interior de la República Mexicana con horarios de atención de Lunes a Viernes de 8:00 AM a 8:00 PM y Sábados de 9:00 AM a 3:00 PM.</p>

                <p>Cualquier modificación a ésta política de privacidad o con relación al tratamiento de sus datos le será notificada a los puntos de contacto aportados por usted mismo.</p>

                <p>Mediante la aportación de datos a través de éste sitio y de cualquier otro medio, usted reconoce que no se encuentra inscrito en el Registro Público de Consumidores de la Procuraduría Federal del Consumidor, por lo que acepta la información que le será enviada con motivo de la aportación de datos mencionada.</p>

                <p>El uso del sitio significa que usted ha leído, comprendido y aceptado expresa y plenamente todos los términos expuestos en todos los apartados de éste documento, por lo que si no está de acuerdo con los mismos usted no deberá aportar ningún dato, ni utilizar el sitio en forma alguna.</p>
                <p class="bold" style="text-decoration: underline;">13. CAMBIOS Y ACCESO A INFORMACIÓN PERSONAL</p>

                <p>Los consumidores de Kellogg que provean información personal a Kellogg pueden corregir, actualizar y eliminar información personal de nuestra base de datos en cualquier momento enviando un mensaje de correo electrónico a Kellogg, haciendo clic en el hipervínculo "contáctenos" que aparece en la parte inferior de cada página de los sitios web de Kellogg o bien pueden comunicarse con el Centro de Atención al Consumidor Kellogg en México al 01 800 005355644, en Guatemala al 1800 8357465, en Honduras al 800 27919027, en Costa Rica al 800 052 1615, en El Salvador al 800 62 28, en Nicaragua al 001 800 22 60 238, en Perú al 221 25 46, en Panamá al 01 800 05 21 222, en Ecuador al 1 800 0000222, en Argentina al 0800 122 5355, en Chile al 800 411 4600, en Venezuela al 0 800 535 56 44 y en Colombia al 01800 0110099.</p>
                <p class="bold" style="text-decoration: underline;">14. PROPIEDAD INTELECTUAL</p>

                <p>Toda la información, textos, gráficos, servicios y anuncios en este sitio ("Contenido") están sujetos a protección de derechos de propiedad intelectual, derechos de autor y/o copyright© a favor de Kellogg o cualquiera de sus afiliadas, a menos de que esté expresamente indicado de otra manera en el sitio.</p>

                <p>Los signos, nombres, frases y otras marcas, así como los diseños de empaque de todos los productos de Kellogg y sus promociones pertenecen exclusivamente a Kellogg o a cualquiera de sus afiliadas, y se encuentran protegidos de cualquier tipo de copia o reproducción (aún en grado similar) y/o de difusión no autorizada, de acuerdo con las leyes locales y tratados internacionales en materia de propiedad intelectual.</p>
                <p class="bold" style="text-decoration: underline;">15. LIBERACIÓN DE RESPONSABILIDAD</p>

                <p>Kellogg Company, sus afiliadas, directores, ejecutivos, agentes, representantes o cualquiera de sus empleados no asumen responsabilidad alguna por errores u omisiones en los materiales de este sitio. ESTOS MATERIALES SON PROVISTOS SIN GARANTÍA ALGUNA, EXPRESA O TÁCITA, INCLUYENDO PERO NO LIMITADA A LAS GARANTÍAS ASUMIDAS EN ACTIVIDADES MERCANTILES, SALUD Y ACTIVIDAD FÍSICA PARA UN PROPÓSITO PARTICULAR.</p>

                <p>Adicionalmente, Kellogg Company, sus afiliadas, directores, ejecutivos, agentes, representantes o cualquiera de sus empleados no garantizan la precisión o plenitud de la información, texto, gráficos, ligas u otros elementos contenidos en este sitio. Kellogg Company, sus afiliadas, directores, ejecutivos, agentes, representantes o cualquiera de sus empleados no serán responsables por daños especiales, indirectos, incidentales o consecuenciales, incluyendo sin limitación, pérdida de rentas, utilidades o cualquier otro perjuicio que pudiera resultar de uso de los contenidos de este sitio. Kellogg podrá realizar cambios al sitio o a los productos descritos aquí en cualquier momento y sin previo aviso. Kellogg no está obligada a actualizar la información contenida en este sitio.</p>

                <p>Finalmente, los usuarios que ingresen a este sitio aceptan expresamente que la información obtenida y el seguimiento de las recomendaciones que aquí se comunican, serán responsabilidad absoluta y exclusiva de los usuarios por lo que no podrán hacer responsables a Kellogg Company, sus afiliadas, directores, ejecutivos, agentes, representantes o cualquiera de sus empleados por cualquier situación de derive de la misma.</p>
                <p class="bold" style="text-decoration: underline;">16. REDES DE ANUNCIOS PUBLICITARIOS</p>

                <p>Podemos tener relaciones con terceros proveedores de servicios conocidos como Redes de anuncios publicitarios para que difundan anuncios en nuestro nombre en Internet. A través de cookies y pixel tags (también conocidas como balizas web), las Redes de anuncios publicitarios recopilan información anónima acerca de sus visitas a nuestro sitio web y otros sitios web con el fin de publicitar anuncios que puedan serle de interés particular. Este proceso no implica la recopilación de ninguna información de identificación personal. Las Redes de anuncios publicitarios no conocen su nombre, número de teléfono, dirección postal, dirección de correo electrónico ni ninguna otra información de identificación personal. No compartimos ninguna información de identificación personal sobre usted con estas redes de anuncios publicitarios. Para obtener más información acerca de cómo las redes administran la privacidad de la información en conjunto con la entrega de anuncios en línea y cómo renunciar a la recopilación de información por parte de estas redes, visite: http://www.youradchoices.com o http://www.networkadvertising.org. No operamos ni controlamos estos sitios, y no nos hacemos responsables de las opciones de renuncia disponibles allí.</p>
                <p class="bold" style="text-decoration: underline;">17. PREGUNTAS</p>

                <p>Si usted tiene alguna pregunta sobre las políticas o procedimientos de privacidad en línea de Kellogg, comuníquese con nosotros utilizando el hipervínculo "contáctenos" que aparece en cada página de los sitios web de Kellogg o bien llame a nuestro Centro de Atención al Consumidor Kellogg en México al 01 800 005355644, en Guatemala al 1800 8357465, en Honduras al 800 27919027, en Costa Rica al 800 052 1615, en El Salvador al 800 62 28, en Nicaragua al 001 800 22 60 238, en Perú al 221 25 46, en Panamá al 01 800 05 21 222, en Ecuador al 1 800 0000222, en Argentina al 0800 122 5355, en Chile al 800 411 4600, en Venezuela al 0 800 535 56 44 y en Colombia al 01800 0110099 para darle respuesta a cualquier inquietud que usted pueda tener sobre la privacidad, seguridad y corrección de cualquier material que vea en el sitio web de Kellogg.</p>

                <p>Esta política de privacidad ha sido actualizada en Abril 2013.</p>
            </div>
-->
            <div class="modal-body">
                @*<p class="bold" style="text-decoration: underline;">AVISO DE PRIVACIDAD:</p>*@
                <p><em>a. IDENTIDAD DEL RESPONSABLE DEL TRATAMIENTO</em> <br />Con motivo del cumplimiento de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (en adelante “LFPDPPP”) y su reglamento, Grupo Pauta Creativa, S.A. de C.V., (en adelante “PAUTA CREATIVA”), será la responsable de la obtención, resguardo, tratamiento y/o en su caso de la remisión y/o transferencia de sus datos personales (en adelante “DATOS”), con domicilio en: Berlín, Número 318, Colonia Del Carmen, Delegación Coyoacán, Ciudad de México, México, C.P. 04100.</p>
                <p>
                    <em>b. OBTENCIÓN Y FINALIDADES DEL TRATAMIENTO DE LA INFORMACIÓN.</em><br />
                    Los DATOS serán obtenidos de usted, a través de los talleres  y/o por cualquier medio electrónico, óptico, sonoro, físico, visual, u otra tecnología regulada por la LFPDPPP. Los DATOS que se recabarán serán los siguientes: (i) Datos de identificación; (ii) Datos de Contacto.
                </p>
                <p>PAUTA CREATIVA utilizará sus DATOS para llevar a cabo la administración de su participación en La Promoción. PAUTA CREATIVA tratará sus DATOS con las debidas medidas de seguridad administrativas, técnicas y físicas suficientes y/o necesarias para cumplir con las obligaciones establecidas en la LFPDPPP y su reglamento.</p>

                <p>
                    <em>c. TRANSFERENCIA Y/O REMISION DE DATOS PERSONALES.</em><br />
                    Con motivo de La Promoción, PAUTA CREATIVA podrá transferir y/o remitir sus DATOS a filiales, subsidiarias y/o terceros nacionales o extranjeros, ya sean personas físicas o morales con las que sostenga una relación jurídica, comercial y/o contractual, señalando que no se requerirá de su consentimiento para realizar la(s) transferencia(s) y/o remisión(es) necesaria(s), cuando se presente alguno de los supuestos establecidos en los artículos 14 y 37 de la LFPDPPP, los datos obtenidos únicamente se podrán utilizar con el propósito de ejecutar la actividad promocional.
                </p>

                <p>
                    <em>d. EJERCICIO DE SUS DERECHOS ARCO</em><br />
                    Usted puede solicitar a PAUTA CREATIVA en cualquier momento, el Acceso, Rectificación, Cancelación u Oposición (DERECHOS ARCO), respecto de sus DATOS, así como revocar su consentimiento para el tratamiento de dichos DATOS, por medio de un correo electrónico a la dirección: privacidad@pautacreativa.com.mx. Así mismo, usted podrá limitar el uso y/o divulgación de sus DATOS a través del medio antes señalado.
                </p>

                <p>
                    <em>e. CAMBIOS AL AVISO DE PRIVACIDAD</em><br />
                    Cualquier cambio por disposición legal, regulatoria y/o corporativa de PAUTA CREATIVA, que se realice a este aviso e privacidad, será dado a conocer vía correo electrónica a los titulares de los DATOS.
                </p>

                <p>
                    <em>f. AUTORIDAD REGULADORA</em><br />
                    El Instituto Nacional de Transparencia, Acceso a la Información y Protección de Datos Personales (INAI), es la autoridad competente para garantizar el acceso y protección de sus DATOS, así mismo se le informa que de ser necesario, puede acudir ante el INAI para hacer efectivos sus derechos.
                </p>
            </div>
            break;

        default:
            <div class="modal-body">Error al procesar la solicitud.</div>
            break;
    }

}
