﻿@model IEnumerable<FarmaciasGuadalajara.Models.sp_ticketResultClient_Result>
@using FarmaciasGuadalajara.AppObjects;
@{
    ViewBag.Title = "profile";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
    var UserName = new cs_Client().getName();
    var User = (FarmaciasGuadalajara.AppObjects.cs_Client)new cs_Client().getData();
}

<div class="content__section aligner" id="profile_page">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <p class="hidden-xs">&nbsp;</p>
                <img class="img-responsive" src="~/img/home_01.png" />
            </div>
            <div class="col-xs-6 col-sm-offset-2 text-right" id="profile__sect">
                <button class="img_btn visible-xs pull-right" id="menu_mobile">
                    <img class="" src="~/img/btn_menu.png" />
                </button>
                <div class="hidden-xs text-right">
                    <a class="yellowlink logOut" href="#">Cerrar sesión</a>

                    @*<button class="img_btn pull-right" style="display:inline-block;">
                        <img src="~/img/btn_profile_off.png" />
                    </button>*@

                    <button class="snowless hover2" onclick="window.location.href='@Url.Action( "Index", "Main" )';return false;">Ir al inicio</button>
                </div>
                <div class="text-right" style="clear: both; padding-top:1em;">
                    <h2 class="uppercase amarillo">@User.Name @User.LastName1 @User.LastName2</h2>
                    <h3 class="hidden-xs">@User.Email<br />@User.Phone</h3>
                </div>
            </div>
        </div>

        <div class="row"> @*id="xmastest__ticket"*@
            <div class="col-xs-12 visible-xs text-right">
                <h3>@User.Email<br />@User.Phone</h3>
            </div>
            <div class="col-xs-12 col-sm-4 text-left">

                <p class="white_on_white">Es muy importante que conserves tu ticket de compra, ya que si resultas ganador lo necesitarás para reclamar tu premio.</p>
                <p class="white_on_white">En caso de resultar ganador serás notificado vía correo electrónico.</p>
            </div>
            <div class="col-xs-12 col-sm-8">
                <table class="table_w hidden-xs">
                    <thead>
                        <tr>
                            <th>
                                @*@Html.DisplayNameFor( model => model.FechaRegistro )*@
                                Participación
                            </th>
                            <th>
                                @Html.DisplayNameFor( model => model.Folio )
                            </th>
                            <th>
                                @*@Html.DisplayNameFor( model => model.Total )*@
                                Monto
                            </th>
                            @*<th> @Html.DisplayNameFor( model => model.Aciertos ) </th>*@
                            <th>
                                @Html.DisplayNameFor( model => model.Tiempo )
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if( Model.Count() != 0 ) {
                                foreach( var item in Model ) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor( modelItem => item.FechaRegistro )
                                        </td>
                                        <td>
                                            @Html.DisplayFor( modelItem => item.Folio )
                                        </td>
                                        <td>
                                            @Html.DisplayFor( modelItem => item.Total )
                                        </td>
                                        @*<td>
                                                @Html.DisplayFor( modelItem => item.Aciertos )
                                            </td>*@
                                        <td>
                                            @Html.DisplayFor( modelItem => item.Tiempo )
                                        </td>
                                        <td>
                                            @if( item.TicketId != 0 ) {
                                                <div onclick="initQuestions(@item.TicketId)">Iniciar</div>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else {
                                <tr>
                                    <td class="text-center" colspan="5">
                                        No tienes participaciones registradas aún.
                                    </td>
                                </tr>
                            }
                        }
                        
                    </tbody>
                </table>
                <table class="table_w visible-xs">
                    <thead>
                        <tr>
                            <th colspan="2">Participaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if( Model.Count() != 0 ) {
                                foreach( var item in Model ) {
                                    <tr>
                                        <td>@Html.DisplayFor( modelItem => item.FechaRegistro )</td>
                                        <td>
                                            Folio: @Html.DisplayFor( modelItem => item.Folio )
                                        </td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid white;">
                                        <td colspan="2">
                                            <table>
                                                <tr>
                                                    <td>
                                                        Monto <br />
                                                        @Html.DisplayFor( modelItem => item.Total )
                                                    </td>
                                                    <td>
                                                        Tiempo <br />
                                                        @Html.DisplayFor( modelItem => item.Tiempo )
                                                    </td>
                                                    <td>
                                                        @if( item.TicketId != 0 ) {
                                                            <div onclick="initQuestions(@item.TicketId)">Iniciar</div>
                                                        }
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                }
                            }
                            else {
                                <tr>
                                    <td class="text-center">
                                        <p class="white_on_white">No tienes participaciones registradas aún.</p>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
@section Scripts {
    <script src="~/Scripts/profile.js"></script>
    @*@Scripts.Render( "~/bundles/profile" )*@
}
