﻿@using FarmaciasGuadalajara.AppObjects;
@using FarmaciasGuadalajara.Models;
@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
    var UserName = new cs_Client().getName();

    var Menu = ViewBag.Menu;
    var result = (cs_Configuration)ViewBag.Result;
}

@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="/Scripts/register.js"></script>
    @*@Scripts.Render("~/bundles/register")*@
}

<div class="content__section aligner" id="register">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
                <p class="hidden-xs">&nbsp;</p>
                <img class="img-responsive" src="~/img/home_01.png" />
            </div>
            <div class="col-xs-6 col-sm-offset-2 col-md-offset-3 text-right" id="register__sect">
                <button class="img_btn visible-xs pull-right" id="menu_mobile">
                    <img class="" src="~/img/btn_menu.png" />
                </button>
                <div class="text-right" style="clear: both; padding-top:1em;">
                    <h2 class="uppercase">Crear cuenta</h2>
                    <h3 class="amarillo">Todos los campos son obligatorios</h3>
                </div>
            </div>
        </div>

        <div class="row form">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="form-group">
                    <!--<label for="message-text" class="form-control-label">Correo electrónico:</label>-->
                    <input type="email" class="form-control required email" id="Email" placeholder="Correo electrónico">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <!--<label for="message-text" class="form-control-label">Contraseña:</label>-->
                    <input type="password" class="form-control required" id="Password" placeholder="Contraseña">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <!--<label for="message-text" class="form-control-label">Confirmar contraseña:</label>-->
                    <input type="password" class="form-control required" id="PasswordChk" placeholder="Confirmar contraseña">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="form-group">
                    <!--<label for="recipient-name" class="form-control-label">Nombre:</label>-->
                    <input type="text" class="form-control required" id="Name" placeholder="Nombre(s)">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <!--<label for="message-text" class="form-control-label">Apellido Paterno:</label-->
                    <input type="text" class="form-control required" id="LastName1" placeholder="Apellido Paterno">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    <!--<label for="message-text" class="form-control-label">Apellido Materno:</label>-->
                    <input type="text" class="form-control required" id="LastName2" placeholder="Apellido Materno">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-5 col-md-2">
                <div class="form-group">
                    <!--<label for="message-text" class="form-control-label">Teléfono:</label>-->
                    <input type="number" class="form-control required" id="LadaPhone" placeholder="LADA">
                </div>
            </div>
            <div class="col-xs-7 col-md-2">
                <div class="form-group">
                    <!--<label for="message-text" class="form-control-label">Teléfono:</label>-->
                    <input type="number" class="form-control required" id="Phone" placeholder="Teléfono">
                </div>
            </div>
            @if (result.ShowAnalytics == 1) {
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="captcha">
                        <div class="g-recaptcha" data-sitekey="6LdL2zcUAAAAAF8e7bUMMDTIPjrUyIwILf5YAHdp"></div>
                    </div>
                    <!-- CAPTCHA REACTIVATE  -->
                </div>
            }
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="checkbox">
                    <label for="message-text" class="form-control-label">
                        <input type="checkbox" class="form-control required" id="TermsConditions">
                        Acepto los <a onclick="showTerms()">Términos y condiciones</a>
                    </label>
                </div>
                <div class="checkbox">
                    <label for="message-text" class="form-control-label">
                        <input type="checkbox" class="form-control required" id="NoticePrivacy">
                        Acepto el <a onclick="showPrivacy()">Aviso de privacidad</a>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <button class="snowless" id="btnOk">Siguiente</button>
            </div>
        </div>

    </div>
</div>



