﻿
@{
    ViewBag.Title = "Winners";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}

    <div class="content__section aligner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Ganadores</h2>
                </div>
            </div>
        </div>
    </div>
