﻿@using FarmaciasGuadalajara.AppObjects
@{
    ViewBag.Title = "Mejores Resultados";
    Layout = "~/Views/Shared/_Layout_CMS.cshtml";
}


<section class="content-header">
    <h1>
        Mejores Resultados
        <small>Control panel</small>
    </h1><br />
</section>

<div class="box box-info">
    @*<div class="box-header with-border">
        <h3 class="box-title">Latest Orders</h3>
    </div>*@
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">
            <table class="table" id="tblclientList">
                <thead>
                    <tr>
                        <th>
                            Lugar
                        <th>
                            Nombre
                        </th>
                        <th>
                            Aciertos
                        </th>
                        <th>
                            Tiempo
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <nav aria-label="Page navigation">
            <ul class="pagination" id="pagination"></ul>
        </nav>
    </div>
    <!-- /.box-footer -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/bestresults")
    <script type="text/javascript">
        $(function () {

            var show = 10;
            $('#pagination').twbsPagination({
                totalPages: @ViewBag.TotalPage,
                visiblePages: show,
                onPageClick: function (event, page) {
                    getClientList(show,page)
                    //console.info(event);
                }
            });
        });
    </script>
}

<style>
    .container {
        width: 100% !important;
    }

    .cursor {
        cursor: pointer;
    }
</style>