﻿@model IEnumerable<FarmaciasGuadalajara.Models.Cat_Client>
@using FarmaciasGuadalajara.AppObjects
@{
    ViewBag.Title = "Lista de clientes";
    Layout = "~/Views/Shared/_Layout_CMS.cshtml";
}

<section class="content-header">
    <h1>
        Lista de clientes
        <small>Control panel</small>
    </h1><br />
</section>

<div class="box box-info">
    @*<div class="box-header with-border">
        <h3 class="box-title">Latest Orders</h3>
    </div>*@
    <!-- /.box-header -->
    <div class="box-body">
        <div class="table-responsive">
            <table class="table" id="tblclientList">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Telefono
                        </th>
                        <th>
                            Fecha Registro
                        </th>
                        <th>
                            Ticket
                        </th>
                        <th>
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <nav aria-label="Page navigation">
            <ul class="pagination" id="pagination"></ul>
        </nav>
    </div>
    <!-- /.box-footer -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/clientList")
    <script type="text/javascript">
        $(function () {
            $('#pagination').twbsPagination({
                totalPages: @ViewBag.TotalPage,
                visiblePages: 10,
                onPageClick: function (event, page) {
                    getClientList(page)
                    //console.info(event);
                }
            });

        });
    </script>
}

<style>
    .container {
        width: 100% !important;
    }
    .cursor {
        cursor:pointer;
    }
</style>