﻿@using FarmaciasGuadalajara.AppObjects
@{
    ViewBag.Title = "dashBoard";
    Layout = "~/Views/Shared/_Layout_CMS.cshtml";
    var data = ViewBag.Data;
    var a = data.code;
    var b = a;
}

@if (data.code != 0) {

} else {

    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1><br />
    </section>

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Indicadores</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive" id="Indicadores"></div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-footer -->
    </div>

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Ventas por Sucursal</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin" id="tblSucursal">
                    <thead>
                        <tr>
                            <th>Sucursal</th>
                            <th>Tickets</th>
                            <th>TotalVendido</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-footer -->
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/clientList")
    <script type="text/javascript">
        $(function () {
            var data = @Html.Raw(data.message);
            //console.clear();
            $(data.Indicadores).each(function (index, element) {

                console.log(element.ClientesRegistrados);
                console.log(element.TicketsRegistrados);
                console.log(element.TicketsCompletos);
                console.log(element.TicketsIncompletos);
                console.log(element.TotalVendido);

                $('#Indicadores').append('<div class="col-lg-3 col-xs-6">' +
                                            '<!-- small box -->' +
                                            '<div class="' + element.ClientesRegistrados.class +'">' +
                                                '<div class="inner">' +
                                                    '<h3>' + element.ClientesRegistrados.Total +'</h3>' +
                                                    '<p>' + element.ClientesRegistrados.Titulo +'</p>' +
                                                '</div>' +
                                                '<div class="icon">' +
                                                    '<i class="ion ' + element.ClientesRegistrados.icon+'"></i>' +
                                                '</div>' +
                                            '</div>' +
                                        '</div>');

                $('#Indicadores').append('<div class="col-lg-3 col-xs-6">' +
                    '<!-- small box -->' +
                    '<div class="' + element.TicketsRegistrados.class + '">' +
                    '<div class="inner">' +
                    '<h3>' + element.TicketsRegistrados.Total + '</h3>' +
                    '<p>' + element.TicketsRegistrados.Titulo + '</p>' +
                    '</div>' +
                    '<div class="icon">' +
                    '<i class="ion ' + element.TicketsRegistrados.icon + '"></i>' +
                    '</div>' +
                    '</div>' +
                    '</div>');

                $('#Indicadores').append('<div class="col-lg-3 col-xs-6">' +
                    '<!-- small box -->' +
                    '<div class="' + element.TicketsCompletos.class + '">' +
                    '<div class="inner">' +
                    '<h3>' + element.TicketsCompletos.Total + '</h3>' +
                    '<p>' + element.TicketsCompletos.Titulo + '</p>' +
                    '</div>' +
                    '<div class="icon">' +
                    '<i class="ion ' + element.TicketsCompletos.icon + '"></i>' +
                    '</div>' +
                    '</div>' +
                    '</div>');

                $('#Indicadores').append('<div class="col-lg-3 col-xs-6">' +
                    '<!-- small box -->' +
                    '<div class="' + element.TicketsIncompletos.class + '">' +
                    '<div class="inner">' +
                    '<h3>' + element.TicketsIncompletos.Total + '</h3>' +
                    '<p>' + element.TicketsIncompletos.Titulo + '</p>' +
                    '</div>' +
                    '<div class="icon">' +
                    '<i class="ion ' + element.TicketsIncompletos.icon + '"></i>' +
                    '</div>' +
                    '</div>' +
                    '</div>');

                $('#Indicadores').append('<div class="col-lg-3 col-xs-6">' +
                    '<!-- small box -->' +
                    '<div class="' + element.TotalVendido.class + '">' +
                    '<div class="inner">' +
                    '<h3> $' + numberWithCommas(element.TotalVendido.Total) + '</h3>' +
                    '<p>' + element.TotalVendido.Titulo + '</p>' +
                    '</div>' +
                    '<div class="icon">' +
                    '<i class="ion ' + element.TotalVendido.icon + '"></i>' +
                    '</div>' +
                    '</div>' +
                    '</div>');

                //console.log(element.ClientesRegistrados);
                //console.log(element.TicketsRegistrados);
                //console.log(element.TicketsCompletos);
                //console.log(element.TicketsIncompletos);
                //console.log(element.TotalVendido);
            });

            $(data.Tablas).each(function (index, element) {
                //console.log(data.Tablas.DatabySucursal);
                $(data.Tablas.DatabySucursal).each(function (key, val) {
                    //console.log(val);
                    $('#tblSucursal tbody').append('<tr><td>' + val.Sucursal + '</td><td>' + val.TotalSucursal + '</td><td> $' + numberWithCommas(val.TotalVendido) +'</td></tr>');
                });
            });

        });

        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

    </script>
}
