﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kellogg's - Cumple tus deseos Admin</title>
    
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <link href="/Content/general.css" rel="stylesheet" />

    <link href="/Content/admin_bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/AdminLTE.css" rel="stylesheet" />

    @*@Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/j0enHdx4Edx_cms_css")*@
</head>
<body>

    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html">Kellogg´s</br> Cumple tus Deseos</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Inicio de Sesión</p>
            <div class="form-group has-feedback">
                <input type="text" id="UserName" class="form-control" placeholder="Usuario">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="Password" class="form-control" placeholder="Contraseña">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4">
                    <input type="button" class="btn btn-primary btn-block btn-flat" id="btnOk" value="Login">
                </div>
                <!-- /.col -->
            </div>
        </div>
        <!-- /.login-box-body -->
    </div>

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnOk">Continuar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/Scripts/jquery-3.2.1.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/general.js"></script>
    <script src="/Scripts/jquery.maskedinput.js"></script>

    <script src="/Scripts/j0enHdx4Edx_cms.js"></script>
    
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/j0enHdx4Edx_cms_js")*@

</body>
</html>