﻿@{
    Layout = null;
    string option = ViewBag.data;
    switch (option) {

        case "Tickets":

            <div class="modal-body">
                <div class="container" id="containerData">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default" id="tiketContainerResult">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            break;

        case "EditClient":

            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="form-control-label">Nombre:</label>
                    <input type="text" class="form-control required" id="Name">
                    <input type="hidden" class="form-control required" id="ClientId" value="0">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="form-control-label">Apellido Paterno:</label>
                    <input type="text" class="form-control required" id="LastName1">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="form-control-label">Apellido Materno:</label>
                    <input type="text" class="form-control required" id="LastName2">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="form-control-label">Email:</label>
                    <input type="text" class="form-control required" id="Email">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="form-control-label">Contraseña:</label>
                    <input type="password" class="form-control required" id="Password">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="form-control-label">Lada:</label>
                    <input type="text" class="form-control required" id="LadaPhone">
                </div>
                <div class="form-group">
                    <label for="message-text" class="form-control-label">Telefono:</label>
                    <input type="text" class="form-control required" id="Phone">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnOk">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>

            break;

        case "ShowClient":

            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="form-control-label">Nombre: </label>
                    <label for="recipient-name" class="form-control-label no-bold" id="FullName"></label>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="form-control-label">Email: </label>
                    <label for="recipient-name" class="form-control-label no-bold" id="Email"></label>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="form-control-label">Telefono: </label>
                    <label for="recipient-name" class="form-control-label no-bold" id="Phone"></label>
                </div>
                <div class="form-group">
                    <label for="message-text" class="form-control-label">Celular: </label>
                    <label for="recipient-name" class="form-control-label no-bold" id="Celular"></label>
                </div>
            </div>

            break;

        default:

            <div class="modal-body">Error al procesar la solicitud.</div>

            break;
    }

}
